{% extends 'dashboard/admin/harvesters/forms/_base_attribute.html' %}
{% load static %}
{% block additional_field %}
    <br>
    <h3>Indicator Mapping</h3>
    <table class="content-table">
        <tr>
            <th>Section (etools)</th>
            <th>Indicator (server)</th>
        </tr>
        <tbody id="mapping-table">
        {% for map in mapping %}
            <tr>
                <td style="width: 50%">
                    {{ map.remote_value }}
                    <input type="text" name="mapping_remote_{{ forloop.counter0 }}" value="{{ map.remote_value }}" style="display: none">
                </td>
                <td style="width: 50%">
                    <select name="mapping_platform_{{ forloop.counter0 }}" class="mapping-remote" value="{{ map.platform_value }}">
                        <option></option>
                        {% for indicator in indicators %}
                            <option value="{{ indicator }}">{{ indicator }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type='text/template' id='_indicator-selection'>
        <select name="mapping_platform_<%= idx %>" class="mapping-remote">
            <option></option>
            {% for indicator in indicators %}
                <option value="{{ indicator }}">{{ indicator }}</option>
            {% endfor %}
        </select>
    </script>
{% endblock %}
{% block extrastyle %}
    <style>
        select {
            height: 42px;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            margin-top: 0 !important;
            margin-left: 0 !important;
        }
    </style>
{% endblock %}
{% block extrascripts %}
    <link rel="stylesheet" href="{% static 'libs/select2/4.1.0-rc.0/select2.min.css' %}" type="text/css" media="screen, projection"/>
    <script type="text/javascript" src="{% static 'libs/select2/4.1.0-rc.0/select2.min.js' %}"></script>
    <script src="{% static "libs/underscore.js/1.9.1/underscore-min.js" %}"></script>
    <script type="text/javascript" src="{% static 'libs/fuzzysort.js' %}"></script>
    <script>
        const mappingDefaultValue = {};
        {% for map in mapping %}
            mappingDefaultValue['{{ map.remote_value }}'] = '{{ map.platform_value }}';
        {% endfor %}

        const indicators = {{ indicators|safe }};
        const $inputs = $("#attribute_url, #attribute_username, #attribute_password");
        const $otherInputs = $("#attribute_extra_keys, #attribute_key_value");

        $(document).ready(function () {
            const $inputValue = $('#attribute_key_value');
            let inputKeyValue = $inputValue.attr('value');
            if (inputKeyValue) {
                $inputValue.append(`<option value="${inputKeyValue}">${inputKeyValue}</option`);
            }

            const $inputExtraKeys = $('#attribute_extra_keys');
            let inputExtraValues = $inputExtraKeys.attr('value').split(',');
            $inputExtraKeys.attr('multiple', 'multiple');

            {# default selections #}
            $.each($inputExtraKeys.attr('value').split(','), function (key, value) {
                $inputExtraKeys.append(`<option value="${value}">${value}</option`);
            });
            $inputExtraKeys.select2();

            {# add the selected items to last#}
            $inputExtraKeys.on("select2:select", function (evt) {
                var element = evt.params.data.element;
                var $element = $(element);

                $element.detach();
                $(this).append($element);
                $(this).trigger("change");
            });

            const $submit = $('#submit');
            $submit.prop('disabled', true);

            $otherInputs.change(function () {
                inputExtraValues = $(this).val();
            });
            $inputs.change(function () {
                const $mappingTable = $('#mapping-table');
                const $urlInput = $('#attribute_url');
                const $urlInputLoading = $urlInput.closest('tr').find('.loading');
                const $urlInputError = $urlInput.closest('tr').find('.error');

                if ($("#attribute_url").val() && $("#attribute_username").val() && $("#attribute_password").val()) {
                    $submit.prop('disabled', true);
                    $inputs.prop('disabled', true);
                    $otherInputs.prop('disabled', true);

                    $mappingTable.html('');
                    $urlInputLoading.show();
                    $urlInputError.hide();

                    $.ajax({

                        url: '{% url "proxy-view" %}',
                        data: {
                            url: $urlInput.val(),
                            basic_auth: btoa($("#attribute_username").val() + ":" + $("#attribute_password").val())
                        },
                    })
                        .done(function (output) {
                            $submit.prop('disabled', false);
                            $otherInputs.prop('disabled', false);
                            $otherInputs.html('');

                            {# for selections #}
                            $.each(output.results[0], function (key, value) {
                                if (value && typeof value !== 'object') {
                                    $otherInputs.append(`<option value="${key}">${key}</option`);
                                }
                            });
                            $inputExtraKeys.select2();
                            $inputExtraKeys.val(inputExtraValues);
                            $inputExtraKeys.trigger('change');
                            $inputValue.val(inputKeyValue);

                            let rawSections = [];
                            $.each(output.results, function (index, value) {
                                rawSections = rawSections.concat(value.sections.split(','))
                            });
                            rawSections = rawSections.map(section => section.trim());
                            var sections = rawSections.filter(onlyUnique);
                            sections.sort()


                            $mappingTable.html('');
                            $.each(sections, function (index, value) {
                                if (value) {
                                    $mappingTable.append(`
                                        <tr>
                                            <td style="width: 50%">
                                                ${value}
                                                <input type="text" name="mapping_remote_${index}" value="${value}" style="display: none">
                                            </td>
                                            <td style="width: 50%">
                                              ${_.template($('#_indicator-selection').html())({ idx: index })}
                                            </td>
                                        </tr>
                                `)
                                    if (mappingDefaultValue[value]) {
                                        $mappingTable.find('tr').last().find('.mapping-remote').val(mappingDefaultValue[value]);
                                    }
                                }
                            });
                        })
                        .fail(function (xhr, status, errorThrown) {
                            if (xhr.status === 401) {
                                $urlInputError.html('Authentication failed');
                            } else {
                                $urlInputError.html(xhr.statusText);
                            }
                            $urlInputError.show();
                        })
                        .always(function () {
                            $urlInputLoading.hide();
                            $inputs.prop('disabled', false);
                            $otherInputs.prop('disabled', false);
                        });
                }
            });
            $inputs.each(function () {
                $(this).val($(this).attr('value'));
            });

            $inputs.trigger("change");

            {# reassign value in mapping #}
            $('.mapping-remote').each(function () {
                $(this).val($(this).attr('value'));
            })
        })
    </script>
{% endblock extrascripts %}