{% extends 'dashboard/admin/form.html' %}
{% load static %}

{% block content %}
    {% csrf_token %}
    {% for field in form %}
        {% if is_create or field.name != 'icon' %}
            <p data-field-name="{{ field.name }}">
                <label class="label{% if field.field.required %} required{% endif %}" for="{{ field.name }}">{{ field.label }}</label>
                {% if field.errors %}<span class="error">{{ field.errors }}</span>{% endif %}
                {{ field }}<br/>
                {% if field.help_text %}<span class="helptext">{{ field.help_text|safe }}</span>{% endif %}
            </p>
        {% endif %}
    {% endfor %}
    {% if not is_create %}
        <p data-field-name="icon_field">
            <label class="label" for="icon_field">Icon</label>
        <div class="row">
            <div style="width: 110px">
                <img style="width: 100px" src="{% if instance.icon %}{{ instance.icon.url }}{% else %}{% static "img/no-image-found.jpg" %}{% endif %}">
            </div>
            <div class="col">
                <input type="file" name="icon" id="id_icon">
                <div style="padding: 5px;margin-top: 10px">
                    <input type="checkbox" name="icon_delete" value="true">
                    <span> Delete the image</span><br>
                </div>
            </div>
        </div>
    {% endif %}
    </p>
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'libs/select2/4.1.0-rc.0/select2.min.css' %}" type="text/css" media="screen, projection"/>
    <script type="text/javascript" src="{% static 'libs/select2/4.1.0-rc.0/select2.min.js' %}"></script>
    <script>
        {% if is_create %}
            $('#nav-instance-create').addClass('active')
        {% endif %}


        {# for group selector #}
        const placeholder = "Select a category or create by typing new one.";
        $('#id_category').select2({
            placeholder: placeholder,
            tags: true,
            createTag: function (params) {
                return {
                    id: params.term,
                    text: params.term,
                    newOption: true
                }
            },
            templateResult: function (data) {
                var $result = $("<span></span>");
                $result.text(data.text);
                if (data.newOption) {
                    $result.append(" <em>(new)</em>");
                }
                return $result;
            }
        }).on('select2:open', function (e) {
            $('input.select2-search__field').prop('placeholder', placeholder);
        });
    </script>
{% endblock %}