:root {
    --navbar-height: 50px;
    --navbar-height-minus: -50px;
    --divider-color: #ddd;
    --hovered-color: rgba(180, 180, 180, 0.1);
    --hovered-color-darker: rgba(0, 0, 0, 0.1);
    --almost-white-color: #f5f5f5;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.box-shadow-right {
    box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.1);
}

.box-shadow-bottom {
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

/* HTML */

html {
    height: 100%;
}

html, body {
    font-family: Roboto, Arial, sans-serif !important;
    width: 100%;
}

body {
    background-color: #eee;
    position: relative;
}

a:hover {
    text-decoration: none !important;
}

/* BUTTONS */
.empty-button,
.main-button,
.white-button,
.green-button {
    border: none;
    outline: none;
    padding: 5px 15px;
    font-weight: 500;
    cursor: pointer;
}

.empty-button {
    background: white;
    border: 1px solid var(--primary-color);
    cursor: not-allowed !important;
    padding: 4px 14px;
}

.main-button {
    background-color: var(--primary-color);
    color: white;
}

.white-button {
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.green-button {
    background-color: green;
    color: white;
}

.green-button {
    background-color: green;
    color: white;
}

.green-button:hover {
    color: white;
}

.empty-button:focus-visible,
.empty-button:focus,
.main-button:focus-visible,
.main-button:focus,
.white-button:focus-visible,
.white-button:focus,
.green-button:focus-visible,
.white-button:focus {
    outline: none;
}

.main-button:hover {
    color: white;
}

.main-button:hover,
.white-button:hover,
.green-button:hover {
    outline: none;
    text-decoration: none;
    opacity: 0.9;
}

.main-button:disabled,
.white-button:disabled,
.green-button:disabled {
    opacity: 0.5;
    cursor: progress;
}

/* for leaflet */
.leaflet-popup-content-wrapper {
    border-radius: 0 !important;
    padding: 0 !important;;
}

.leaflet-popup-content {
    margin: 0 !important;;
}

.leaflet-popup-content table {
    width: 100%;
}

.leaflet-popup-close-button {
    display: none !important;;
}

.leaflet-popup-content {
    max-height: 250px;
    overflow-y: auto;
}

.leaflet-popup-content td {
    padding: 5px 20px;
    width: 50%;
}


.leaflet-popup-content td:first-child {
    text-align: right;
    padding-right: 5px;
}

.leaflet-popup-content td:last-child {
    padding-left: 5px;
}

.fa-play-circle {
    color: green;
}

.fa-stop-circle {
    color: red;
}

table .helptext {
    font-weight: 500;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none !important;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;;
    -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.1) !important;;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* COPY TO CLIPBOARD*/
.copy-to-clipboard {
    cursor: pointer;
    position: relative;
}

.copy-to-clipboard:hover .copy-to-clipboard-indicator {
    display: block;
}

.copy-to-clipboard-indicator {
    background: #ccc;
    border-radius: 2px;
    display: none;
    font-size: 8px;
    padding: 2px 5px;
    position: absolute;
    left: 50%;
    top: -15px;
}

.copy-to-clipboard-indicator.copied {
    background: green;
    color: white;
}

/* For modal */
.modal {
    z-index: 10050;
}

.modal-backdrop {
    z-index: 10040;
}

#global-modal {
    width: 100%;
    overflow-x: auto;
}

#global-modal td,
#global-modal th {
    padding: 5px 20px;
    width: fit-content;
    border: 1px solid #f7f7f7;
}