.navbar {
    background-color: var(--primary-color) !important;
    color: white;
    height: var(--navbar-height);
    position: fixed;
    width: 100%;
    z-index: 999999;
    padding: 10px 20px;

    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.navbar a {
    color: white;
}

.navbar a:hover {
    text-decoration: none;
    outline: none;
}

.navbar .navbar-brand {
    height: 34px;
    font-weight: 700;
    margin-top: -13px;
    margin-left: 10px;
}

.navbar .navbar-brand img {
    height: 23px;
    margin-top: -4px;
}

.navbar .navbar-brand .title {
    border-left: 2px solid white;
    color: white;
    display: inline-block;
    font-size: 18px;
    margin-left: 5px;
    margin-top: 4px;
    padding-left: 5px;
}


.navbar .navbar-options {
    cursor: default;
    position: relative;
}

select {
    background: white;
    cursor: pointer;
    padding: 5px 10px;
}

select:focus-visible {
    outline: none;
}

#instance-selection {
    color: var(--primary-color);
    border: 1px solid white;
    display: none;
    font-weight: 600;
    margin-left: 10px;
}

#instance-selection-wrapper {
    border-left: 1px solid white;
    padding-left: 10px;
    margin-left: 10px;
}

.navbar .dropdown-menu {
    font-size: 14px;
    right: 0 !important;
    top: 34px !important;
    border: 1px solid #ddd;
    left: auto !important;
    transform: none !important;
}

.dropdown-menu {
    padding: 0 !important;
}

.dropdown-menu li {
    border-bottom: 1px solid #eee;
}

.dropdown-menu li a {
    color: black !important;
    display: block;
    padding: 5px 15px;
    width: 100%;
}

.dropdown-menu li a:hover {
    background-color: #eee;
    text-decoration: none;
}

.dropdown-button {
    background: #eee;
    display: inline !important;
    border: 1px solid #ccc;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 5px !important;
}

.dropdown-button:hover {
    opacity: 0.5;
}