{% extends 'pages/_base.html' %}
{% load static %}
{% block info %}
    <div class="row">
        <div class="col-sm-1">
            <ul id="sidebar">
                {% block sidebar %}
                {% endblock %}
            </ul>
        </div>
        <div class="col-sm-11 content">
            <div id="content">
                {% block sidebar_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        const $list = $('#sidebar li');
        const $page = $('#page');
        $list.click(function () {
            const top = $page.scrollTop() + 0;
            $list.removeClass('active');
            $('.sidebar-content').hide();
            $(this).addClass('active');

            const target = $(this).data('target');
            $(`#${target}`).show();
            window.location.hash = target;

            $page.scrollTop(top);
            $('html').scrollTop(0);
        });
        if (!window.location.hash) {
            $($list[0]).click();
        } else {
            const hash = window.location.hash.replaceAll('#', '');
            const $target = $(`#sidebar li[data-target="${hash}"]`);
            if ($target.length === 0) {
                $($list[0]).click();
            } else {
                $target.click();
            }
        }
    </script>
    {% block extrascripts %}{% endblock %}
{% endblock %}