{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ preferences.favicon }}" type="image/x-icon">
    <title>{{ preferences.site_title }} : {% block title %}{% endblock title %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap" rel="stylesheet">

    <link href="{% static 'libs/bootstrap/4.5.2/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'libs/jquery-ui/1.12.1/jquery-ui.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/pages/base.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>

    <style>
        :root {
            --primary-color: {{ preferences.primary_color }};
            --secondary-color: {{ preferences.secondary_color }};
        }
    </style>

    {% block stylesheet %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'libs/jquery.js/3.4.1/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jquery-ui/1.12.1/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap/4.5.2/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
</head>

<body class="body">
{% include "pages/_navbar.html" %}

<div id="page">
    {% block container %}
        <div id="container">
            <div class="container-page">
                <div class="header">
                    {% block header %}
                    {% endblock %}
                </div>
                {% block info %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>
{% block script %}{% endblock %}
</body>
</html>