{% load i18n %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow-bottom">
    <a class="navbar-brand mr-auto" href="/">
        <img src="{% if preferences.icon %}{{ preferences.icon }}{% endif %}">
        <div class="title">{{ preferences.site_title }} {% if page_title %} - {{ page_title }}{% endif %}</div>
    </a>
    <div class="navigation-list row">
        {% if links %}
            <div class="navbar-options">
                <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Links <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu box-shadow-bottom">
                    {% for link in links %}
                        <li>
                            <a href="{{ link.url }}">{{ link.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <div class="navbar-options">
                <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.get_username }}{% endif %} <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu box-shadow-bottom">
                    {% if user.is_staff %}
                        <li>
                            <a href="/admin/">{% trans "Django Admin" %}</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'logout' %}?next=/">{% trans "Logout" %}</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="navbar-options">
                <a href="{% url "login" %}">
                    Sign In
                </a>
            </div>
        {% endif %}
    </div>
    {% if instance %}
        <div id="instance-selection-wrapper">
            <div class="navbar-options">
                <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ instance }}
                    <img src="{% if instance.icon %}{{ instance.icon.url }}{% else %}{% static "img/no-image-found.jpg" %}{% endif %}">
                </a>
                <ul class="dropdown-menu box-shadow-bottom">
                    {% for instance in instances %}
                        <li data-slug="{{ instance.slug }}">
                            {{ instance.name }}
                            <img src="{% if instance.icon %}{{ instance.icon }}{% else %}{% static "img/no-image-found.jpg" %}{% endif %}">
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</nav>
<script>
    const currentInstance = {% if instance %} "{{ instance.slug }}" {% else %} "" {% endif %};
    $('#instance-selection-wrapper li').click(function () {
        window.location = window.location.href.replaceAll(currentInstance, $(this).data('slug'))
    })
</script>