{% load i18n %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow-bottom">
    <a class="navbar-brand mr-auto" href="/">
        <img src="{% if preferences.icon %}{{ preferences.icon }}{% endif %}">
        <div class="title">{{ preferences.site_title }} {% if page_title %} - {{ page_title }}{% endif %}</div>
    </a>
    <div class="profile-button">
        {% if user.is_authenticated %}
            <div class="navbar-options">
                <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </a>
                <ul class="dropdown-menu box-shadow-bottom">
                    {% if user.is_staff %}
                        <li>
                            <a href="/admin/">{% trans "Django Admin" %}</a>
                        </li>
                        <li>
                            <a href="/node-red/">{% trans "Node Red" %}</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'logout' %}?next=/">{% trans "Logout" %}</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <a href="{% url "login" %}">
                Sign In
            </a>
        {% endif %}
    </div>
    <div id="instance-selection-wrapper">
        <select id="instance-selection">
        </select>
    </div>
</nav>
<script>
    const $instanceSelection = $('#instance-selection');
    const currentInstance = {% if instance %} "{{ instance.slug }}" {% else %} "" {% endif %};
    if (currentInstance) {
        $instanceSelection.show();
        {% for instance in instances %}
            $instanceSelection.append('<option value="{{ instance.slug }}">{{ instance.name }}</option>')
        {% endfor %}
        $instanceSelection.val(currentInstance);
        $instanceSelection.change(function () {
            window.location = window.location.href.replaceAll(currentInstance, $(this).val())
        })
    }
</script>