{% extends 'pages/_base.html' %}
{% load static %}
{% load indicator_tags %}

{% block title %}
    Dashboard
{% endblock %}

{% block stylesheet %}
    <link href="{% static 'libs/jquery-ui/1.12.1/jquery-ui.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'libs/jstree/3.3.12/themes/default/style.min.css' %}" type="text/css" media="screen, projection"/>
{% endblock %}

{% block header %}
    Backups
{% endblock %}

{% block info %}
    <div style="padding: 20px;">
        <div id="explorer-body">

        </div>
        <br>
        <br>
        <button id="download-button" class="main-button" disabled>Download</button>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'libs/jquery.js/3.4.1/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jstree/3.3.12/jstree.js' %}"></script>
    <script>
        const dir = {{ dir|safe }};
        const downloadBackupsUrl = "{% url 'download-backups' %}"
        const $downloadButton = $('#download-button');
        $(document).ready(function () {
            {# CREATE EXPLORER #}
            const $explorer = $('#explorer-body');
            $explorer.jstree({
                'core': {
                    'data': dir.children
                }
            }).on('loaded.jstree', function () {
                $explorer.jstree('open_all');
            });
            $explorer.on("select_node.jstree", function (e, data) {
                return data.instance.toggle_node(data.node);
            });
            $explorer.on("changed.jstree", function (e, data) {
                $downloadButton.attr('disabled', true)
                if (data.node && data.node.original.type === 'file') {
                    $downloadButton.attr('disabled', false)
                    $downloadButton.data('path', data.node.original.path)
                }
            });
            $downloadButton.click(function (e) {
                e.preventDefault();
                window.location.href = downloadBackupsUrl + '?file=' + $downloadButton.data('path');
            });
        })
    </script>
{% endblock %}