{% extends 'pages/with-sidebar.html' %}
{% load static %}
{% load indicator_tags %}

{% block title %}
    Dashboard
{% endblock %}

{% block extra_stylesheet %}
    <link href="{% static 'libs/leaflet/1.5.1/leaflet.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <script>
        const requireConfig = {
            paths: {
                'jquery': '{% static 'libs/jquery.js/3.4.1/jquery.min.js' %}?',
                'jqueryUI': '{% static 'libs/jquery-ui/1.12.1/jquery-ui.js' %}?',
                'backbone': '{% static 'libs/backbone.js/1.4.0/backbone-min.js' %}?',
                'leaflet': '{% static 'libs/leaflet/1.5.1/leaflet-src.js' %}?',
                'underscore': '{% static 'libs/underscore.js/1.9.1/underscore-min.js' %}?',
            },
            shim: {
                leaflet: {
                    exports: ['L']
                },
                jqueryUI: {
                    deps: ["jquery"]
                },
                rangeSlider: {
                    deps: ["jquery"]
                },
                templates: {
                    deps: ['underscore']
                },
            }
        }
    </script>
    <style>
        {% for scenario in scenarios %}
            .scenario-{{ scenario.level }} {
                color: {{ scenario.color }} !important;
                background-color: {{ scenario.background_color }};
            }
        {% endfor %}
    </style>
{% endblock extra_stylesheet %}

{% block content %}
    <div class="header scenario-{{ overall_scenario.level }}">
        Somalia<br>
        Scenario {{ overall_scenario.level }}: {{ overall_scenario.name }}
    </div>
    <div class="row">
        <div class="col-sm-2">
            <ul id="sidebar">
                <li data-target="scenario">Scenarios</li>
                {% for intervention in interventions %}
                    <li data-target="intervention-{{ intervention.program_id }}">{{ intervention.program_name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-10 content">
            <div id="content">
                <div id="scenario" class="sidebar-content">
                    <div>
                        <button id="toggle-table" class="main-button content-button">Show all indicator</button>
                    </div>
                    <div id="table-section">
                        <table>
                            <tr>
                                <th valign="top" style="width: 300px">Case Title</th>
                                {% for scenario in scenarios %}
                                    <th class="scenario scenario-{{ scenario.level }}" valign="top">
                                        Scenario {{ scenario.level }}
                                        <div>
                                            {{ scenario.name }}
                                        </div>
                                    </th>
                                {% endfor %}
                                <th valign="top" style="width: 200px">Value</th>
                                <th valign="top">API List</th>
                            </tr>
                            {% for indicator in indicators %}
                                <tr class="indicator-row {% if indicator.show_in_traffic_light %}traffic-indicator{% endif %}">
                                    <td>{{ indicator.name }}</td>
                                    {% for scenario in scenarios %}
                                        <td class="scenario indicator {% if indicator.scenario_value == scenario.level %}scenario-{{ scenario.level }}{% endif %}">
                                            {% get_scenario_rule indicator scenario.level as rule %}
                                            {{ rule }}
                                        </td>
                                    {% endfor %}
                                    <td class="scenario-{{ indicator.scenario_value }}">{{ indicator.value }} {% if indicator.unit %}{{ indicator.unit }}{% endif %}</td>
                                    <td class="api-list">
                                        {# <a data-url="{% url "indicator_values_geojson" indicator.id 'so' 'country' today_date %}" onclick="copyToClipboard(this)">Geojson Country</a>,#}
                                        <a href="{% url "indicator_values_geojson" indicator.id 'so' 'country' today_date %}" target="_blank">Geojson Country</a>,
                                        <a href="{% url "indicator_values_geojson" indicator.id 'so' 'region' today_date %}" target="_blank">Geojson Region</a>,
                                        <a href="{% url "indicator_values_geojson" indicator.id 'so' 'district' today_date %}" target="_blank">Geojson District</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% for intervention in interventions %}
                    <div id="intervention-{{ intervention.program_id }}" class="sidebar-content">
                        <iframe src="{{ intervention.url }}" title="{{ intervention.program_name }}" frameBorder="0"></iframe>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrascripts_extend %}
    <script>
        $('#toggle-table').click(function () {
            $(this).toggleClass('all');
            if ($(this).hasClass('all')) {
                $(this).html('Show just traffic light indicators')
                $('.indicator-row').show();
            } else {
                $(this).html('Show all indicators')
                $('.indicator-row').hide();
                $('.traffic-indicator').show();
            }
        })

        function copyToClipboard(elmt) {
            navigator.clipboard.writeText(window.location.host + $(elmt).data('url'));
        }
    </script>
{% endblock %}