{% extends 'pages/_base-with-sidebar.html' %}
{% load static %}
{% load indicator_tags %}

{% block title %}
    Dashboard
{% endblock %}

{% block stylesheet %}
    <link href="{% static 'libs/leaflet/1.5.1/leaflet.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/pages/traffic-light.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <style>
        {% for scenario in scenarios %}
            .scenario-{{ scenario.level }} {
                color: {{ scenario.text_color }} !important;
                background-color: {{ scenario.background_color }};
            }
        {% endfor %}
    </style>
{% endblock %}

{% block header %}
    <div class="scenario-header scenario-{{ overall_scenario.level }}">
        {{ instance.name }}<br>
        Scenario {{ overall_scenario.level }}: {{ overall_scenario.name }}
    </div>
{% endblock %}

{% block sidebar %}
    <li data-target="scenario">Scenarios</li>
    {% for intervention in interventions %}
        <li data-target="intervention-{{ intervention.program_id }}">{{ intervention.program_name }}</li>
    {% endfor %}
{% endblock %}

{% block sidebar_content %}
    <div id="scenario" class="sidebar-content">
        <div>
            <button id="toggle-table" class="main-button content-button">Show all indicators</button>
        </div>
        <div id="table-section">
            <table>
                <tr>
                    <th valign="top" style="width: 250px">Case Title</th>
                    <th valign="top" style="width: 150px">Value</th>
                    {% for scenario in scenarios %}
                        <th class="scenario scenario-{{ scenario.level }}" valign="top">
                            Scenario {{ scenario.level }}
                            <div>
                                {{ scenario.name }}
                            </div>
                        </th>
                    {% endfor %}
                </tr>
                {% for indicator in indicators %}
                    <tr class="indicator-row {% if indicator.show_in_traffic_light %}traffic-indicator{% endif %}">
                        <td>{{ indicator.name }}</td>
                        <td class="scenario-{{ indicator.scenario_value }}">{{ indicator.value }} {% if indicator.unit %}{{ indicator.unit }}{% endif %}</td>
                        {% for scenario in scenarios %}
                            <td class="scenario indicator {% if indicator.scenario_value == scenario.level %}scenario-{{ scenario.level }}{% endif %}">
                                {% get_scenario_rule indicator scenario.level as rule %}
                                {{ rule }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% for intervention in interventions %}
        <div id="intervention-{{ intervention.program_id }}" class="sidebar-content">
            <iframe src="{{ intervention.url }}" title="{{ intervention.program_name }}" frameBorder="0"></iframe>
        </div>
    {% endfor %}
{% endblock %}

{% block extrascripts %}
    <script>
        $('#toggle-table').click(function () {
            $(this).toggleClass('all');
            if ($(this).hasClass('all')) {
                $(this).html('Show just traffic light indicators')
                $('.indicator-row').show();
            } else {
                $(this).html('Show all indicators')
                $('.indicator-row').hide();
                $('.traffic-indicator').show();
            }
        });
        const $list = $('#sidebar li');
        const $page = $('#page');
        $list.click(function () {
            const top = $page.scrollTop() + 0;
            $list.removeClass('active');
            $('.sidebar-content').hide();
            $(this).addClass('active');

            const target = $(this).data('target');
            $(`#${target}`).show();
            window.location.hash = target;

            $page.scrollTop(top);
            $('html').scrollTop(0);
        });
        if (!window.location.hash) {
            $($list[0]).click();
        } else {
            const hash = window.location.hash.replaceAll('#', '');
            const $target = $(`#sidebar li[data-target="${hash}"]`);
            if ($target.length === 0) {
                $($list[0]).click();
            } else {
                $target.click();
            }
        }
    </script>
{% endblock %}