{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ preferences.favicon }}" type="image/x-icon">
    <title>{{ preferences.site_title }} : {{ instance.name }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap" rel="stylesheet">

    <link href="{% static 'libs/bootstrap/4.5.2/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'libs/jquery-ui/1.12.1/jquery-ui.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/dashboard/base.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>

    <script type="text/javascript" src="{% static 'libs/jquery.js/3.4.1/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jquery-ui/1.12.1/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap/4.5.2/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
    <style>
        :root {
            --primary-color: {{ preferences.primary_color }};
            --secondary-color: {{ preferences.secondary_color }};
        }
    </style>
    {% block stylesheet %}{% endblock stylesheet %}
</head>

<body class="body">
{% include "pages/_navbar.html" %}
<div id="page">
    <div id="navigation" class="box-shadow-right">
        <div class="content">
            <div class="section">
                <div class="header">
                    <img src="{% if instance.icon %}{{ instance.icon.url }}{% endif %}">
                    {{ instance.name }}
                </div>
            </div>
            {# Traffic Light #}
            <div class="section">
                <a href="{% url "dashboard-view" instance.slug %}#traffic-light" data-target="traffic-light" class="nav traffic-light-nav">
                    <table>
                        <tr>
                            <td class="icon"><i class="fa fa-home" aria-hidden="true"></i></td>
                            <td>Traffic Lights</td>
                        </tr>
                    </table>
                </a>
                {% for program_instance in instance.programs_instance %}
                    <a href="{% url "dashboard-view" instance.slug %}#{{ program_instance.program.slug }}" data-target="{{ program_instance.program.slug }}" class="nav traffic-light-nav">
                        <table>
                            <tr>
                                <td class="icon">
                                    {% if program_instance.program.icon and program_instance.program.white_icon %}
                                        <img src="{{ program_instance.program.icon.url }}" class="icon">
                                        <img src="{{ program_instance.program.white_icon.url }}" class="white-icon">
                                    {% endif %}
                                </td>
                                <td>{{ program_instance.program.name }}</td>
                            </tr>
                        </table>
                    </a>
                {% endfor %}
            </div>
            {% if user.is_superuser %}
                <div class="section">
                    <div class="header">
                        Management
                    </div>
                    <div class="nav sub-header">
                        <table>
                            <tr>
                                <td class="icon"><i class="fa fa-globe" aria-hidden="true"></i></td>
                                <td>Geometry</td>
                            </tr>
                        </table>
                    </div>
                    <a id="nav-geography-view" href="{% url "geography-management-view" instance.slug %}" class="nav">
                        <table>
                            <tr>
                                <td class="icon"></td>
                                <td>View</td>
                            </tr>
                        </table>
                    </a>
                    <a id="nav-geography-level-management" href="{% url "geography-level-management-view" instance.slug %}" class="nav">
                        <table>
                            <tr>
                                <td class="icon"></td>
                                <td>Level Management</td>
                            </tr>
                        </table>
                    </a>
                    <a id="nav-geography-upload" href="{% url "geography-upload-view" instance.slug %}" class="nav">
                        <table>
                            <tr>
                                <td class="icon"></td>
                                <td>Upload</td>
                            </tr>
                        </table>
                    </a>
                    <div class="nav sub-header">
                        <table>
                            <tr>
                                <td class="icon"><i class="fa fa-th-list" aria-hidden="true"></i></td>
                                <td>Indicator</td>
                            </tr>
                        </table>
                    </div>
                    <a id="nav-indicator-management" href="{% url "indicator-management-view" instance.slug %}" class="nav">
                        <table>
                            <tr>
                                <td class="icon"></td>
                                <td>Management</td>
                            </tr>
                        </table>
                    </a>
                    <a id="nav-indicator-new" href="{% url "indicator-management-new" instance.slug %}" class="nav">
                        <table>
                            <tr>
                                <td class="icon"></td>
                                <td>Create New</td>
                            </tr>
                        </table>
                    </a>
                </div>
            {% endif %}

            {# TODO: #}
            {#  temporary#}
            <div style="height: 20px">

            </div>
        </div>
    </div>
    <div id="content">
        <div class="header box-shadow-bottom ">
            {{ dashboard_title|safe }}
        </div>
        <div id="content-view">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% block scripts %}{% endblock %}
</body>
</html>
