{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ preferences.favicon }}" type="image/x-icon">
    <title>{{ preferences.site_title }} : {{ instance.name }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap" rel="stylesheet">

    <link href="{% static 'libs/bootstrap/4.5.2/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'libs/jquery-ui/1.12.1/jquery-ui.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/dashboard/base.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>

    <script type="text/javascript" src="{% static 'libs/jquery.js/3.4.1/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jquery-ui/1.12.1/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap/4.5.2/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
    <style>
        :root {
            --primary-color: {{ preferences.primary_color }};
            --secondary-color: {{ preferences.secondary_color }};
        }
    </style>
    {% block stylesheet %}{% endblock stylesheet %}
</head>

<body class="body">
{% include "pages/_navbar.html" %}
<div id="page">
    <div id="navigation" class="box-shadow-right shrink">
        <div id="inner-navigation">
            <div class="toggle-button">
                <i class="fa fa-caret-left" aria-hidden="true"></i>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
            </div>
            <div id="navigation-content">
                <div class="content">
                    {#            <div class="section">#}
                    {#                <div class="header">#}
                    {#                    <img src="{% if instance.icon %}{{ instance.icon.url }}{% else %}{% static "img/no-image-found.jpg" %}{% endif %}">#}
                    {#                    {{ instance.name }}#}
                    {#                </div>#}
                    {#            </div>#}
                    {# Context Analysis #}
                    <div class="section">
                        <a href="{% url "dashboard-view" instance.slug %}#context-analysis" data-target="context-analysis" class="nav context-analysis-nav">
                            <table>
                                <tr>
                                    <td class="icon"><i class="fa fa-home" aria-hidden="true"></i></td>
                                    <td>Context Analysis</td>
                                </tr>
                            </table>
                        </a>
                        {% for program_instance in instance.programs_instance %}
                            <a href="{% url "dashboard-view" instance.slug %}#{{ program_instance.program.slug }}" data-target="{{ program_instance.program.slug }}" class="nav context-analysis-nav">
                                <table>
                                    <tr>
                                        <td class="icon">
                                            {% if program_instance.program.icon and program_instance.program.white_icon %}
                                                <img src="{{ program_instance.program.icon.url }}" class="icon">
                                                <img src="{{ program_instance.program.white_icon.url }}" class="white-icon">
                                            {% endif %}
                                        </td>
                                        <td>{{ program_instance.program.name }}</td>
                                    </tr>
                                </table>
                            </a>
                        {% endfor %}
                    </div>
                    {% if user.is_superuser %}
                        <div class="section">
                            <div class="sub-header">
                                Management
                            </div>
                            {# ---------------- INDICATOR ----------------#}
                            <a id="nav-indicator-management" href="{% url "indicator-management-view" instance.slug %}" class="nav">
                                <table>
                                    <tr>
                                        <td class="icon"><i class="fa fa-th-list" aria-hidden="true"></i></td>
                                        <td>Indicator</td>
                                        <td class="right-icon"><a href="{% url "indicator-management-new" instance.slug %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></td>
                                    </tr>
                                </table>
                            </a>
                            {# ---------------- INSTANCE ----------------#}
                            <a id="nav-instance-management" href="{% url "instance-management-view" instance.slug %}" class="nav">
                                <table>
                                    <tr>
                                        <td class="icon"><i class="fa fa-flag" aria-hidden="true"></i></td>
                                        <td>Instance</td>
                                        <td class="right-icon"><a href="{% url "instance-management-create" instance.slug %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></td>
                                    </tr>
                                </table>
                            </a>
                            {# ---------------- GEOMETRY ----------------#}
                            <a id="nav-geography-view" href="{% url "geography-management-view" instance.slug %}" class="nav">
                                <table>
                                    <tr>
                                        <td class="icon"><i class="fa fa-globe" aria-hidden="true"></i></td>
                                        <td>Geography</td>
                                        <td class="right-icon"><a href="{% url "geography-upload-view" instance.slug %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></td>
                                    </tr>
                                </table>
                            </a>
                        </div>
                    {% endif %}

                    {# TODO: #}
                    {#  temporary#}
                    <div style="height: 20px">

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block contentview %}
        <div id="content">
            <div class="header box-shadow-bottom ">
                {% block dashboard_title %}{{ dashboard_title|safe }}{% endblock %}
            </div>
            <div id="content-view">
                {% block content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
</div>
<script>
    $('#navigation .toggle-button').click(function () {
        $('#navigation').toggleClass('shrink')
    })
</script>
{% block scripts %}{% endblock %}
</body>
</html>
