{% extends 'dashboard/_base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'libs/leaflet/1.5.1/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/map.css' %}" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}
{% block content %}
    <div id="map-section" class="section box-shadow-bottom">
        <div id="map">

        </div>
        <div id="level-selection" class="box-shadow-bottom">
            {% for key, level in instance_levels.items %}
                <div data-level="{{ level.level }}" data-url="{{ level.url }}">{{ level.level }}</div>
            {% endfor %}
        </div>
        <table id="legend" class="box-shadow-bottom">
            {% for legend in legends %}
                <tr>
                    <td><span class="color" style="background: {{ legend.background_color }}"></span></td>
                    <td><span class="text">{{ legend.name }}</span></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const countryGeometry = {{ country_geometry|safe }};
    </script>
    <script type="text/javascript" src="{% static 'libs/leaflet/1.5.1/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard/indicator-map.js' %}"></script>
{% endblock %}