{% extends 'dashboard/_base.html' %}
{% load static %}
{% load indicator_tags %}

{% block stylesheet %}
    <link href="{% static 'libs/leaflet/1.5.1/leaflet.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/dashboard/traffic-light.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <style>
        {% for scenario in scenarios %}
            .scenario-{{ scenario.level }} {
                background-color: {{ scenario.background_color }} !important;
                color: {{ scenario.text_color}};
            }
        {% endfor %}
    </style>
{% endblock %}
{% block content %}
    <div id="dashboard">
        <div class="section box-shadow-bottom table-section">
            <div class="scenario-header scenario-{{ overall_scenario.level }}">
                Scenario {% if overall_scenario.level %}{{ overall_scenario.level }}: {{ overall_scenario.name }}{% else %} <i>unknown</i> {% endif %}
            </div>
            <div data-program="traffic-light" class="scenario-section">
                <table>
                    <tr>
                        <th valign="top" style="width: 250px">Case Title</th>
                        <th valign="top" style="width: 150px">Value</th>
                        {% for scenario in scenarios %}
                            <th class="scenario scenario-{{ scenario.level }}" valign="top">
                                Scenario {{ scenario.level }}
                                <div>
                                    {{ scenario.name }}
                                </div>
                            </th>
                        {% endfor %}
                    </tr>
                    {% for indicator in indicators %}
                        <tr class="indicator-row {% if indicator.show_in_traffic_light %}traffic-indicator{% endif %}">
                            <td>
                                <a href="{% url "indicator-mapview" instance.slug indicator.id %}">{{ indicator.name }}</a>
                                {% if user.is_staff %}
                                    <a href="{% url "indicator-value-mapview-manager" instance.slug indicator.id %}" class="green-button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                {% endif %}
                            </td>
                            <td class="scenario-{{ indicator.scenario_value }}">{{ indicator.value }}</td>
                            {% for scenario in scenarios %}
                                <td class="scenario indicator {% if indicator.scenario_value == scenario.level %}scenario-{{ scenario.level }}{% endif %}">
                                    {% get_scenario_rule indicator scenario.level as rule %}
                                    {{ rule }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <button id="toggle-table" class="main-button content-button scenario-{{ overall_scenario.level }}">Show all indicators</button>
            </div>
            {% for intervention in interventions %}
                <div data-program="{{ intervention.program_instance.program.slug }}" class="scenario-section intervention">
                    <iframe src="{{ intervention.intervention_url }}" title="{{ intervention.program_instance.program.name }}" frameBorder="0"></iframe>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        {# toogle the table#}
        $('#toggle-table').click(function () {
            $(this).toggleClass('all');
            if ($(this).hasClass('all')) {
                $(this).html('Show just traffic light indicators');
                $('.indicator-row').show();
            } else {
                $(this).html('Show all indicators');
                $('.indicator-row').hide();
                $('.traffic-indicator').show();
            }
        });
        const $list = $('.traffic-light-nav');
        $list.click(function () {
            $list.removeClass('active');
            $(this).addClass('active');
            $('.scenario-section').hide();

            const target = $(this).data('target');
            $(`div[data-program="${target}"]`).show();
            $('#content').scrollTop(0);
        });

        {# check hash #}
        if (!window.location.hash) {
            $($list[0]).click();
        } else {
            const hash = window.location.hash.replaceAll('#', '');
            const $target = $(`.traffic-light-nav[data-target="${hash}"]`);
            if ($target.length === 0) {
                $($list[0]).click();
            } else {
                $target.click();
            }

        }
    </script>
{% endblock %}