{% extends 'dashboard/admin/harvesters/_base.html' %}
{% load static %}

{% block additional_field %}
    <br>
    <h3>Geometry Mapping</h3>
    <table id="mapping-table">
        <tr>
            <th>Remote Name</th>
            <th>Geometry</th>
        </tr>
        {% for reporting_unit in reporting_units %}
            <tr>
                <td>
                    {{ reporting_unit.str }}
                    <input type="text" name="mapping_platform_{{ reporting_unit.pk }}" value="{{ reporting_unit.identifier }}" style="display: none">

                </td>
                <td>
                    <input type="text" data-identifier="{{ reporting_unit.identifier }}" name="mapping_remote_{{ reporting_unit.pk }}" value="{{ attribute.value }}">
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block extrascripts %}
    <script>
        {% for map in mapping %}
            $('*[data-identifier="{{ map.platform_value }}"]').val("{{ map.remote_value }}");
        {% endfor %}
    </script>
{% endblock %}
