html, body {
    height: 100%;
    font-size: 14px;
}

:root {
    --navigation-width: 200px;
    --header-height: 50px;
}

.navbar {
    padding: 10px 0 10px 20px !important;
}

.row {
    margin: 0;
}

#page {
    display: flex;
    height: 100%;
    padding-top: var(--navbar-height);
    width: 100%;
}

#content {
    flex-grow: 1;
    height: 100%;
    position: relative;
    padding-top: var(--header-height);
}

#content h3 {
    background: var(--primary-color);
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    margin: 0;
    width: 100%;
}


#content-view {
    max-height: 100%;
    overflow-y: auto;
    padding: 10px;
}

#content .header {
    background: white;
    height: var(--header-height);
    font-weight: 600;
    padding: 14px 20px 10px 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#content .header .dashboard-icon {
    margin-right: 2px;
    padding: 7px;
}

#content .scenario-level {
    display: inline-block;
    margin-left: 5px;
    font-weight: 300;
    padding: 5px 10px;
}

#content .section {
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

#content .section .line {
    padding: 20px 0;
}

#content .section-nav {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0;
    border-bottom: 1px solid var(--divider-color);
}

#content .section-nav li {
    cursor: pointer;
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
}

#content .section-nav li.active,
#content .section-nav li:hover {
    margin-bottom: -2px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

#content .header .main-button,
#content .header .empty-button {
    margin-top: -5px;
}

#content label {
    display: block;
}

#content label.required {
    font-weight: 600;
}

#content label.required:after {
    content: " *";
}

#content .content-table {
    width: 100%;
}

#content .content-table tr {
    border: 1px solid var(--primary-color);
}

#content .content-table th, #content .content-table td {
    padding: 10px;
}

#content .header button {
    margin-left: 1px;
}

#navigation {
    background: white;
    height: 100%;
    position: relative;
    width: var(--navigation-width);
}

#navigation.shrink {
    width: 50px;
}

#inner-navigation {
    background: white;
    height: 100%;
    direction: rtl;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

#navigation-content {
    height: 100%;
    width: 100%;
    direction: ltr;
}

#navigation.first .toggle-button {
    color: var(--primary-color);
    background-color: white;
}

#navigation.shrink.first .toggle-button {
    color: white;
    background-color: var(--primary-color);
}

#navigation .toggle-button {
    position: absolute;
    top: 11px;
    color: white;
    background-color: var(--primary-color);
    padding: 5px;
    z-index: 999;
    cursor: pointer;
    right: 0;
    width: 17px;
    height: 24px;
    border-radius: 5px 0 0 5px;
}

#navigation .toggle-button:hover {
    opacity: 0.8;
}

#navigation.shrink .toggle-button {
    margin-right: -17px;
    border-radius: 0 5px 5px 0;
}

#navigation .toggle-button .fa-caret-right {
    display: none;
}

#navigation .toggle-button .fa-caret-left {
    display: block;
}

#navigation.shrink .toggle-button .fa-caret-right {
    display: block;
}

#navigation.shrink .toggle-button .fa-caret-left {
    display: none;
}

#navigation .content {
    width: 200px;
    direction: ltr;
}

#navigation .content .section div,
#navigation .content .section a {
    padding: 5px 5px 5px 0;
    text-decoration: none;
    color: inherit;
}

#navigation .content .section .nav {
    color: var(--primary-color);
    cursor: pointer;
}


#navigation .content .section .nav:hover {
    background: var(--hovered-color);
}

#navigation .content .section .nav.active {
    background-color: var(--primary-color) !important;
    color: white !important;
    font-weight: 600;
}

#navigation .content .section .nav .fa-plus-circle {
    font-size: 14px;
}

#navigation .content .section .nav table {
    width: 100%;
}

#navigation .content .section .nav table a:hover {
    opacity: 0.5;
}

#navigation .content .section .nav .icon,
#navigation .content .section .nav .right-icon {
    font-size: 20px;
    text-align: center;
}

#navigation .content .section .nav .icon {
    width: 50px;
}

#navigation .content .section .nav .right-icon {
    width: 20px;
}

#navigation .content .section .nav .icon img {
    width: 36px;
}

/* NAVIGATION ICON*/
#navigation .content .section .nav .icon img.icon {
    display: inline-block;
}

#navigation .content .section .nav .icon img.white-icon {
    display: none;
}

#navigation .content .section .nav.active .icon img.icon {
    display: none;
}

#navigation .content .section .nav.active .icon img.white-icon {
    display: inline-block;
}

#navigation .content .section .nav.sub-header {
    color: black;
    cursor: default;
}

#navigation .content .section .nav.sub-header:hover {
    background: inherit;
}

#navigation .header {
    font-size: 14px;
    padding: 13px 15px 13px 0 !important;
}

#navigation .header img {
    width: 40px;
    margin: 0 5px !important;
}

#navigation .sub-header {
    font-size: 14px;
    padding: 13px 15px 13px 52px !important;
}

#navigation .footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: 100px;
}