:root {
    --hovered-color: rgba(0, 0, 0, 0.1)
}

html, body {
    height: 100%;
}

#page {
    display: flex;
    height: 100%;
    padding-top: var(--navbar-height);
    width: 100%;
}

#content {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}

#content .header {
    background: white;
    padding: 13px 20px;
}

#content .header .dashboard-icon {
    margin-right: 2px;
    padding: 7px;
}

#navigation {
    background: white;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 250px;
    z-index: 1;
}

#navigation > div {
    padding: 15px;
}

#navigation .content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 !important;
}

#navigation .content .section div,
#navigation .content .section a {
    padding: 5px 15px;
    text-decoration: none;
    color: inherit;
}

#navigation .content .section .header {
    opacity: 0.5;
}

#navigation .content .section .nav {
    cursor: pointer;
}


#navigation .content .section .nav:hover {
    background: var(--hovered-color);
}

#navigation .content .section .nav.active {
    background-color: var(--primary-color) !important;
    color: white !important;
}

#navigation .content .section .nav.active {
    font-weight: 600;
}

#navigation .content .section .nav .icon {
    text-align: center;
    width: 37px;
}

#navigation .header {
    padding: 13px 15px !important;
}

#navigation .footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: 100px;
}