:root {
    --left-side-width: 250px;
    --left-side-width-minus: -250px;
}

#content {
    padding-top: 0;
}

#content .header {
    display: none;
}

#content-view {
    height: 100%;
}

.green-button {
    background: black;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    margin-right: 5px;
}

#content-view iframe {
    width: 100%;
    height: 800px;
}


#indicator table {
    width: 100%;
}

#indicator table input {
    margin-right: 5px;
}

#indicator table .table-header {
    display: none;
}

#indicator table.full-screen .table-header {
    display: table-row;
}

#indicator table.full-screen .indicator-name {
    width: 250px;
}

#indicator table.full-screen th,
#indicator table.full-screen td {
    border: 2px solid white;
    padding: 10px 15px;
}

#indicator table.full-screen legend {
    display: none !important;
}


#indicator table td {
    padding: 2px 10px;
}

#indicator .indicator-name {
    padding: 0 0 0 10px;
}

#indicator table th {
    border-bottom: 1px solid var(--divider-color);
}

#indicator table a {
    text-decoration: none;
}

#indicator table .row {
    margin: 0;
}

#indicator .indicator-name .col {
    padding: 2px 10px 2px 0;
}

#indicator table .name {
    border-radius: 5px;
    padding: 5px 10px;
}

#indicator table.full-screen .name {
    padding: 0;
    background-color: white !important;
    color: black !important;
}

#indicator table .indicator-checkbox,
#indicator table .indicator-legend {
    padding-top: 11px
}

#indicator table.full-screen .indicator-checkbox,
#indicator table.full-screen .indicator-legend {
    display: none;
}

#indicator table .indicator {
    color: rgba(0, 0, 0, 0);
    display: none;
}

#indicator table.full-screen .indicator {
    display: table-cell;
}

#content-view .indicator:hover {
    color: rgba(0, 0, 0, 0.5);
}

#content-view .scenario {
    width: 200px;
}

#content-view .scenario-header,
#content h3 {
    font-size: 14px;
    padding: 10px 10px 11px 10px;
    font-weight: 600;
}

#content h3 {
    padding: 13px 12px 12px 12px;
}

#content-view .indicator-row {
    display: none;
}

#content-view .table-section {
    overflow-x: auto;
    width: 100%;
}

#content-view #toggle-table {
    font-size: 14px;
    padding: 10px 20px;
    width: 100%;
}

#content-view .scenario-section {
    display: none;
}

#content-view .intervention {
    padding: 20px;
}

/* FOR MAP */
#map-wrapper {
    height: 100%;
    position: relative;
    overflow: hidden !important;
}

#map {
    height: 100%;
    width: 100%;
}

#left-side {
    top: 0;
    left: 0;
}

#left-side.full-screen {
    z-index: 9999;
}

#left-side .side-panel-button {
    right: -35px;
    position: absolute;
    top: 42px;
}

#left-side .side-panel-toggle-button {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: -1px 0px 4px rgb(0 0 0 / 30%);
    overflow: hidden;
}

#right-side {
    top: 0;
    right: var(--left-side-width-minus);
}

#right-side .side-panel-toggle-button {
    left: -35px;
    position: absolute;
    top: 50%;
    margin-top: -26px;
    writing-mode: vertical-rl;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: -1px 0px 4px rgb(0 0 0 / 30%);
    overflow: hidden;
}

#right-side .side-panel-toggle-button .toggle-button {
    padding: 14px 3px;
    border-radius: 0;
}

#right-side .content-wrapper {
    width: 100%;
    height: 100%;
    flex-flow: column;
    display: flex;
}

#right-side .content-wrapper .indicator-info {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    background-color: white;
    display: none;
}

#right-side .content-wrapper .indicator-info-wrapper {
    width: 100%;
    height: 100%;
    flex-flow: column;
    display: flex;
}

#right-side .content-wrapper .indicator-info-content {
    flex: 1;
    overflow-y: auto;
}

#right-side .content-wrapper .indicator-info-content b {
    font-size: 10px;
}

#right-side .content-wrapper .indicator-info-content .value-table {
    width: 100%;
    font-size: 10px;
}

#right-side .content-wrapper .indicator-info-content .value-table table {
    width: 100%;
}

#right-side .content-wrapper .indicator-info-content .value-table table td {
    width: 50%;
    padding: 2px 10px;
}

#right-side .indicator-left-pane-info .indicator-info-content {
    padding-bottom: 47px;
}

.side-panel {
    position: absolute;
    z-index: 9998;
    height: 100%;
    width: var(--left-side-width);
}

.side-panel .inner {
    position: relative;
    height: 100%;
    width: 100%;
}

.side-panel .content-wrapper {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.side-panel .content {
    height: 100%;
    width: 100%;
}

.side-panel .inner-content {
    height: 100%;
    width: 100%;
    flex-flow: column;
    display: flex;
}


.side-panel .inner-content .side-panel-content {
    flex: 1;
    overflow-y: auto;
}

.side-panel-toggle-button .toggle-button {
    background: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    padding: 15px 12px;
    position: relative;
    width: 35px;
}

.side-panel-toggle-button .toggle-button img {
    margin-left: -1px;
    width: 120%;
}

.side-panel-toggle-button .toggle-button.hidden {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: none;
    color: #aaa;
}

.side-panel-toggle-button .toggle-button:last-child {
    border-bottom-right-radius: 4px;
    margin-top: 0 !important;
}

.layer-row {
    padding: 5px 10px;
}

.layer-row label {
    display: inline-block !important;
}

.layer-row input {
    cursor: pointer;
}

.layer-row .legend {
    padding-left: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.fa-list-ul {
    cursor: pointer;
    margin-top: 2px;
}

/* Legend */
.legend {
    display: none;
    padding: 5px 10px 5px 0;
    background: white;
    color: black;
}

.legend td {
    margin: 0 !important;
    padding: 0 5px !important;
}

.legend tr td:first-child {
    width: 1%;
}

.legend .title {
    font-weight: 700;
}

.legend .circle {
    border-radius: 50%;
}

.legend .line {
    padding: 0 !important;
    width: 50px;
}

.legend .polygon {
    padding: 0 !important;
    height: 20px;
    width: 20px;
}

.legend > img {
    max-width: 100%;
}

.legend table img {
    height: 20px;
}

.side-panel-control i {
    cursor: pointer;
}

.indicator-name-swiper {
    right: 0;
    position: absolute;
    font-size: 12px;
    overflow: hidden;
    z-index: 1000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.indicator-name-swiper > div {
    white-space: nowrap;
    padding: 5px 10px;
}

/* level selection */
/* TOP LAYER*/
.indicator-right-pane-text {
    top: 8px;
}

#left-side .indicator-right-pane-text {
    top: unset;
    bottom: 55px;
    left: var(--left-side-width);
    width: fit-content;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.indicator-right-pane-level-selection {
    top: 42px;
}

#left-side .indicator-right-pane-level-selection {
    left: var(--left-side-width);
    top: unset;
    bottom: 90px;
    width: fit-content;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* STYLE FOR THE COMPARE ORIENTATION */
.left-right .indicator-right-pane-text {
    display: none;
}

.left-right #left-side .indicator-right-pane-text {
    display: block !important;
}

.left-right .indicator-right-pane-level-selection {
    display: none;
}

.left-right #left-side .indicator-right-pane-level-selection {
    display: block !important;
}

.top-bottom .indicator-right-pane-text {
    display: block;
}

.top-bottom #left-side .indicator-right-pane-text {
    display: none !important;
}

.top-bottom .indicator-right-pane-level-selection {
    display: block;
}

.top-bottom #left-side .indicator-right-pane-level-selection {
    display: none;;
}

#left-side.full-screen .indicator-right-pane-level-selection,
#left-side.full-screen .indicator-name-swiper {
    display: none !important;
}


/* BOTTOM LAYER*/
.indicator-left-pane-text {
    bottom: 55px;
}

.indicator-left-pane-level-selection {
    bottom: 90px;
}

.level-selection {
    right: var(--left-side-width);
    background: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    z-index: 1000;
    font-size: 12px;
}

.level-selection > div {
    cursor: pointer;
    padding: 5px;
    white-space: nowrap;
}

.level-selection > div:hover {
    background: var(--hovered-color);
}

.level-selection > div.active {
    background-color: var(--hovered-color);
    color: var(--primary-color);
    font-weight: 600;
}

.group-row {
    display: none;
}

#indicator .group-name {
    cursor: pointer;
}

#indicator .group-name td {
    margin-top: 1px;

}

#indicator .group-name {
    padding: 10px 10px 0 10px;
}

.group-toggle {
    cursor: pointer;
}

.group-name .col {
    padding: 0;
}

#indicator .group-name:hover {
    opacity: 0.7;
}

.no-context-analysis.hide {
    display: none !important;;
}

.layer-list-group {
    padding-left: 17px;
    display: none;
}

.legend-row {
    cursor: pointer;
    opacity: 0.1;
}

.legend-row.active:hover {
    opacity: 0.8;
}

.legend-row.active {
    opacity: 1;
}

/* LAYER SELECTION */
#layer-list input {
    margin-top: 2px;
}

#layer-list .group-name {
    padding: 5px 10px;
}

/* MAPBOX SELECTION */
.basemap-box {
    width: 100%;
    position: relative;
    border: 3px solid white;
    border-radius: 3px;
    opacity: 0.5;
    cursor: pointer;
    max-height: 100px;
    overflow: hidden;
}

.basemap-box:hover {
    opacity: 0.8;
}

.basemap-box:hover img {
    filter: grayscale(0);
}

.basemap-box.active {
    opacity: 1;
}

.basemap-box img {
    width: 100%;
    filter: grayscale(100%);
}

.basemap-box.active img {
    filter: grayscale(0);
}

.basemap-box span {
    position: absolute;
    display: block;
    background: white;
    font-weight: 600;
    left: 0;
    bottom: 0;
    padding: 5px;
}

.leaflet-indicator-left-pane-pane {
    z-index: 200;
}

.leaflet-indicator-right-pane-pane {
    z-index: 200;
}

/* Overriden style */
#content-view {
    padding: 0;
}

#content .section {
    border-radius: 0;
}

#navigation {
    z-index: 10000;
}

.navbar {
    z-index: 10001;
}

/*-------------------------------------------*/
/* TIME SLIDER */
/*-------------------------------------------*/
#time-slider-wrapper {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    width: 300px;
    background: white;
    left: 50%;
    margin-left: -150px;
    z-index: 9998;
    font-size: 12px;
    cursor: pointer;
    display: none;
}

#time-slider-wrapper input {
    width: 100%;
}

/* The slider itself */
#time-slider-wrapper input {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s;
    transition: opacity .2s;
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#time-slider-wrapper input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#time-slider-wrapper input::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.leaflet-control-lyrSwipeBarContainer-v,
.leaflet-control-lyrSwipeBarContainer-h {
    z-index: 400;
}

/* COMPARING TOGGLE */
.leaflet-right {
    display: none;
}

#comparing-toggle {
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 4px;
    box-shadow: -1px 0px 4px rgb(0 0 0 / 30%);
    display: none;


    right: -36px;
    position: absolute;
    top: 5px;
}

#comparing-toggle:hover {
    opacity: 0.5;
}

.top-bottom #comparing-toggle i {
    transform: rotate(90deg);
}