:root {
    --left-side-width: 250px;
    --left-side-width-minus: -250px;
}

#content {
    padding-top: 0;
}

#content .header {
    display: none;
}

#content-view {
    height: 100%;
    overflow-y: hidden;
}

.green-button {
    background: black;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    margin-right: 5px;
}

#content-view iframe {
    width: 100%;
    height: 800px;
}

#indicator {
    position: relative;
}

#indicator table {
    width: 100%;
}

#indicator table input {
    cursor: pointer;
    margin-right: 5px;
}

#indicator table .table-header {
    display: none;
}

#indicator table.full-screen .table-header {
    display: table-row;
}

#indicator table.full-screen .indicator-name {
    width: 250px;
}

#indicator table.full-screen th,
#indicator table.full-screen td {
    border: 2px solid white;
    padding: 5px 10px;
}

#indicator table.full-screen legend {
    display: none !important;
}

#indicator table.full-screen .divider {
    display: none !important;
}

#indicator table.full-screen .group-name .row {
    color: black !important;
    background-color: white !important;
    font-weight: 600;
}

#indicator table.full-screen .group-name .scenario-bullet {
    display: none;
}

#indicator table.full-screen .group-row .indicator-name {
    padding: 5px 10px 5px 20px;
}

#indicator table.full-screen .scenario-bullet {
    margin-right: 0 !important;
}


#indicator table td {
    padding: 2px 10px;
}

#indicator .indicator-name {
    padding: 0 10px 0 20px;
}

#indicator table th {
    border-bottom: 1px solid var(--divider-color);
}

#indicator table a {
    text-decoration: none;
}

#indicator table .row {
    margin: 0;
}

#indicator table .divider td {
    margin-bottom: 5px
}

#indicator .indicator-name .col {
    padding: 2px 0 2px 0;
}

#indicator table.full-screen .name {
    padding: 0;
    background-color: white !important;
    color: black !important;
}

#indicator table .indicator-checkbox {
    padding-top: 4px;
}

#indicator table .indicator-legend {
    padding-top: 11px
}

#indicator table.full-screen .indicator-checkbox,
#indicator table.full-screen .indicator-legend {
    display: none;
}

#indicator table .indicator {
    color: rgba(0, 0, 0, 0);
    display: none;
}

#indicator table.full-screen .indicator {
    display: table-cell;
}

#indicator tbody {
    border-top: 1px solid #f5f5f5;
}

#content-view .indicator:hover {
    color: rgba(0, 0, 0, 0.5);
}

#content-view .scenario {
    width: 200px;
}


#content-view .scenario-header,
#content h3 {
    font-size: 14px;
    padding: 10px 10px 11px 10px;
    font-weight: 600;
}

#indicator .scenario-header {
    margin-bottom: 1px;
    text-align: center;
}

#page.shrink .scenario-header {
    padding: 10px 10px 11px 25px;
}

#content h3 {
    padding: 13px 12px 12px 12px;
}

.side-panel-header h3 {
    background: white !important;
    color: black !important;
    padding: 0;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
}

#content-view .indicator-row {
    display: table-row;
}

#content-view .table-section {
    overflow-x: auto;
    width: 100%;
}

#content-view #toggle-table {
    font-size: 14px;
    padding: 10px 20px;
    width: 100%;
}

#content-view .scenario-section {
    display: none;
    height: 100%;
    overflow-y: auto;
}

#content-view .intervention {
    padding: 20px;
}

.side-panel-footer .main-button {
    background: white;
    color: black;
    border-top: 1px solid #f5f5f5;
    padding: 5px !important;
}

.side-panel-footer .main-button:hover {
    opacity: 0.5;
}

/* FOR MAP */
#map-wrapper {
    opacity: 0;
    height: 100%;
    position: relative;
    overflow: hidden !important;
    display: block !important;
}

#map {
    height: 100%;
    width: 100%;
}

#left-side {
    top: 0;
    left: 0;
}

#left-side.full-screen {
    left: 0 !important;
    z-index: 9999;
}

#left-side.full-screen .scenario-header {
    z-index: 9999;
    background: inherit;
    color: inherit;
}

#left-side.full-screen .scenario-header .scenario-bullet {
    display: none;
}

.scenario-header.shrink {
    background: white !important;
    color: black !important;
}

#left-side.full-screen .scenario-header {
    z-index: 9999;
}

#left-side .side-panel-button {
    right: -35px;
    position: absolute;
    top: 43px;
}

#left-side .side-panel-toggle-button {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: -1px 0px 4px rgb(0 0 0 / 30%);
    overflow: hidden;
}


#right-side {
    top: 0;
    right: var(--left-side-width-minus);
}

#right-side .side-panel-toggle-button {
    left: -35px;
    position: absolute;
    top: 50%;
    margin-top: -26px;
    writing-mode: vertical-rl;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: -1px 0px 4px rgb(0 0 0 / 30%);
    overflow: hidden;
}

#right-side .side-panel-toggle-button .toggle-button {
    padding: 10px 6px;
    border-radius: 0;
}

#right-side .content-wrapper {
    width: 100%;
    height: 100%;
    flex-flow: column;
    display: flex;
}

#right-side .content-wrapper .indicator-info {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    background-color: white;
    display: none;
}

#right-side .content-wrapper .indicator-info-wrapper {
    width: 100%;
    height: 100%;
    flex-flow: column;
    display: flex;
}

#right-side .content-wrapper .indicator-info-title {
    background: white;
    border-bottom: 1px solid #f7f7f7;
    border-top: 1px solid #f7f7f7;
    color: black !important;
    position: relative !important;
    padding: 13px 12px 12px 12px;
    font-weight: 700;
}

#right-side .content-wrapper .indicator-info-title .col {
    padding: 0;
}

#right-side .content-wrapper .indicator-info-content {
    flex: 1;
    overflow-y: auto;
}

#right-side .content-wrapper .indicator-info-content .value-table {
    width: 100%;
}

#right-side .content-wrapper .indicator-info-content .value-table table {
    width: 100%;
}

#right-side .content-wrapper .indicator-info-content .value-table table td {
    width: 49%;
    padding: 2px 10px;
    border-bottom: 1px solid #f7f7f7;
}

#right-side .content-wrapper .indicator-info-content .value-table .value-color {
    width: 2%;
}

#right-side .content-wrapper .indicator-info-content .value-table .value-key {
    cursor: pointer;
    color: black;
}

#right-side .content-wrapper .indicator-info-content .value-table .value-key:hover {
    color: inherit;
}

#right-side .indicator-info-wrapper h3 {
    background: white;
    border-bottom: 1px solid #f7f7f7;
    border-top: 1px solid #f7f7f7;
    color: black !important;
    position: relative !important;
}

#right-side .indicator-info-wrapper h3 .scenario-bullet {
    margin-right: 0 !important;
    margin-top: 1px !important;
}

#right-side #info-toggle .fa-caret-right {
    display: none;
}

#right-side.show #info-toggle .fa-caret-left {
    display: none;
}

#right-side.show #info-toggle .fa-caret-right {
    display: inline-block;
}

.side-panel {
    position: absolute;
    z-index: 9998;
    height: 100%;
    width: var(--left-side-width);
}

.side-panel .inner {
    position: relative;
    height: 100%;
    width: 100%;
}

.side-panel .content-wrapper {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.side-panel .content {
    height: 100%;
    width: 100%;
}

.side-panel .inner-content {
    height: 100%;
    width: 100%;
    flex-flow: column;
    display: flex;
}


.side-panel .inner-content .side-panel-content {
    flex: 1;
    overflow-y: auto;
}

.side-panel-toggle-button .toggle-button {
    background: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    padding: 15px 12px;
    position: relative;
    width: 35px;
}

.side-panel-toggle-button .toggle-button img {
    margin-left: -1px;
    width: 120%;
}

.side-panel-toggle-button .toggle-button.hidden {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: none;
    color: #aaa;
}

.side-panel-toggle-button .toggle-button:last-child {
    border-bottom-right-radius: 4px;
    margin-top: 0 !important;
}

.layer-row {
    padding: 5px 10px;
}

.layer-row label {
    display: inline-block !important;
}

.layer-row .col {
    padding: 0;
}

.layer-row input {
    cursor: pointer;
}

.layer-row .legend {
    display: none;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 15px;
}

.fa-list-ul {
    cursor: pointer;
    margin-top: 2px;
}

/* Legend */
.legend {
    display: none;
    padding: 5px 10px 5px 0;
    background: white;
    color: black;
}

.legend td {
    margin: 0 !important;
    padding: 0 5px !important;
}

.legend tr td:first-child {
    width: 1%;
}

.legend .title {
    font-weight: 700;
}

.legend .circle {
    border-radius: 50%;
}

.legend .line {
    padding: 0 !important;
    width: 50px;
}

.legend .polygon {
    padding: 0 !important;
    height: 20px;
    width: 20px;
}

.legend > img {
    max-width: 100%;
}

.legend table img {
    height: 20px;
}

.side-panel-control i {
    cursor: pointer;
}

.indicator-name-swiper {
    right: var(--left-side-width);
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: white;
}

.indicator-name-swiper .scenario-bullet {
    margin-right: 0 !important;
    margin-top: 1px !important;
}

.indicator-name-swiper table {
    margin: 5px 10px;
}

.indicator-name-swiper div {
    white-space: nowrap;
}

/* level selection */
/* TOP LAYER*/
.indicator-right-pane-text {
    top: 8px;
}

#left-side .indicator-right-pane-text {
    top: unset;
    bottom: 45px;
    left: var(--left-side-width);
    width: fit-content;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.indicator-right-pane-level-selection {
    top: 47px;
}

#left-side .indicator-right-pane-level-selection {
    left: var(--left-side-width);
    top: unset;
    bottom: 85px;
    width: fit-content;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* STYLE FOR THE COMPARE ORIENTATION */
.left-right .indicator-right-pane-text {
    display: none;
}

.left-right #left-side .indicator-right-pane-text {
    display: block !important;
}

.left-right .indicator-right-pane-level-selection {
    display: none;
}

.left-right #left-side .indicator-right-pane-level-selection {
    display: block !important;
}

.top-bottom .indicator-right-pane-text {
    display: block;
}

.top-bottom #left-side .indicator-right-pane-text {
    display: none !important;
}

.top-bottom .indicator-right-pane-level-selection {
    display: block;
}

.top-bottom #left-side .indicator-right-pane-level-selection {
    display: none;;
}

#left-side.full-screen .indicator-right-pane-level-selection,
#left-side.full-screen .indicator-name-swiper {
    display: none !important;
}

#left-side.full-screen .legend {
    display: none !important;
}


/* BOTTOM LAYER*/
.indicator-left-pane-text {
    bottom: 45px;
}

.indicator-left-pane-level-selection {
    bottom: 85px;
}

.level-selection {
    right: var(--left-side-width);
    background: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    z-index: 1000;
}

.level-selection > div {
    cursor: pointer;
    padding: 5px;
    white-space: nowrap;
}

.level-selection > div:hover {
    background: var(--hovered-color);
}

.level-selection > div.active {
    background-color: var(--hovered-color);
    color: var(--primary-color);
    font-weight: 600;
}

.group-row {
    display: none;
}

#indicator .group-name {
    cursor: pointer;
    font-weight: 700;
}

#indicator .group-name td {
    margin-bottom: 1px;

}

#indicator .group-name {
    padding: 10px 10px 0 10px;
}

#indicator .group-name:hover {
    opacity: 0.7;
}

#indicator .legend {
    padding: 5px 10px 5px 15px;
}

#indicator .legend tbody {
    border: none !important;
}

.group-toggle,
.legend-toggle {
    cursor: pointer;
    margin-left: 5px;
}

.legend-toggle {
    display: none;
}

.group-name .col {
    padding: 0;
}

.no-context-analysis.hide {
    display: none !important;;
}

.layer-list-group {
    padding-left: 17px;
    display: none;
}

.legend-row {
    opacity: 0.3;
}

.legend-row.active {
    opacity: 1;
}

.legend-row input {
    cursor: pointer;
}

/* LAYER SELECTION */
#layer-list input {
    margin-top: 2px;
}

#layer-list .group-name {
    padding: 5px 10px;
}

/* MAPBOX SELECTION */
.basemap-box {
    width: 100%;
    position: relative;
    border: 3px solid white;
    border-radius: 3px;
    opacity: 0.5;
    cursor: pointer;
    max-height: 100px;
    overflow: hidden;
}

.basemap-box:hover {
    opacity: 0.8;
}

.basemap-box:hover img {
    filter: grayscale(0);
}

.basemap-box.active {
    opacity: 1;
}

.basemap-box img {
    width: 100%;
    filter: grayscale(100%);
}

.basemap-box.active img {
    filter: grayscale(0);
}

.basemap-box span {
    position: absolute;
    display: block;
    background: white;
    font-weight: 600;
    left: 0;
    bottom: 0;
    padding: 5px;
}

.leaflet-indicator-left-pane-pane {
    z-index: 200;
}

.leaflet-indicator-right-pane-pane {
    z-index: 200;
}

/* Overriden style */
#content-view {
    padding: 0;
}

#content .section {
    border-radius: 0;
}

#navigation {
    z-index: 10000;
}

.navbar {
    z-index: 10001;
}

/*-------------------------------------------*/
/* TIME SLIDER */
/*-------------------------------------------*/
#time-slider-wrapper {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 300px;
    background: white;
    left: 50%;
    margin-left: -150px;
    z-index: 9998;
    display: none;
}

#time-slider-wrapper input {
    width: 100%;
}

/* The slider itself */
#time-slider-wrapper input {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s;
    transition: opacity .2s;
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#time-slider-wrapper input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#time-slider-wrapper input::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.time-control {
    font-size: 16px;
    cursor: pointer;
}

.time-control:focus {
    opacity: 0.7;
}

.fa-stop-circle {
    display: none;
}

/* COMPARING TOGGLE */
.leaflet-control-lyrSwipeBarContainer-v,
.leaflet-control-lyrSwipeBarContainer-h {
    z-index: 400;
}

.leaflet-right {
    display: none;
}

#comparing-toggle {
    cursor: pointer;
    padding: 5px 7px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 4px;
    box-shadow: -1px 0px 4px rgb(0 0 0 / 30%);
    display: none;
    right: -46px;
    position: absolute;
    bottom: -3px;
    width: 30px;
    height: 30px;
}

#comparing-toggle:hover {
    opacity: 0.8;
}

.top-bottom #comparing-toggle i {
    transform: rotate(90deg);
}

.scenario-bullet {
    border: 0.5px solid #ccc;
    border-radius: 10px;
    height: 16px;
    width: 16px;
    margin-top: 3px;
    margin-right: 0 !important;
    margin-left: 5px;
    position: relative;
}

/* spinner */

.scenario-bullet .spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 19px;
    height: 19px;
    display: none;
}

.scenario-bullet .spinner .path {
    stroke: var(--primary-color);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}


.left-side-fullscreen,
.left-side-exit-fullscreen {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    height: 24px;
    padding: 1px 5px;
    position: absolute;
    right: -17px;
    top: 8px;
    width: 17px;
    z-index: 999;
}

.left-side-fullscreen {
    border-radius: 0 5px 5px 0;
}

.left-side-exit-fullscreen {
    right: 0 !important;
    border-radius: 5px 0 0 5px;
}

/* HIGHCHART */
.highcharts-exporting-group {
    display: none;
}

.highcharts-credits {
    display: none;
}

.highcharts-legend-item text {
    font-weight: 300 !important;
}

#temporary {
    opacity: 0.3;
}

#layer-list .ui-draggable {
    background: white;
    cursor: pointer;
}

#layer-list .ui-draggable-dragging {
    z-index: 9999;
    height: 0 !important;
}

#layer-list .ui-draggable-dragging div {
    background: var(--almost-white-color);
}