#hdr-centre {
    text-align: left;
    padding-left: 5px;
}

#hdr-centre h3 {
    font-size: 18px;
}

#hdr-centre h3:before {
    content: ":";
    margin-right: 10px;
}

#content:focus-visible {
    outline: none;
}

#nav {
    width: 16em;
}

#nav a {
    padding-right: 20px;
}

.toctree-l1:first-child .toctree-l2 {
    display: none;
}

.toctree-l1:last-child .toctree-l2 {
    display: none;
}

.toctree-l1 > a {
    font-weight: 700;
}

.sidebar-toc ul li.toctree-l2.current > a {
    background-color: #e6e6e6;
    color: #444;
}

img {
    max-width: 100%;
}

.sidebar-toc > .caption {
    display: none;
}