{% extends 'dashboard/admin/harvesters/forms/_base.html' %}
{% load static %}
{% block attributes %}
    <br>
    <h3>Attributes</h3>
    <table id="attributes-table" class="content-table">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>

        {% for attribute in attributes %}
            <tr {% if attribute.name == 'instance_slug' %}style="display: none"{% endif %}>

                <td style="width: 50%">
                    {{ attribute.title }}{% if attribute.required %}*{% endif %}
                    <i class="fa fa-question-circle" aria-hidden="true" title="
                    {% if attribute.required %}[REQUIRED]{% endif %} {{ attribute.description }}" style="cursor: help; color: orange"></i>
                </td>
                <td style="width: 50%">
                    <img class="loading" src="{% static "img/throbber.gif" %}">
                    {% if attribute.type == 'file' %}
                        <input type="file" id="attribute_{{ attribute.name }}" name="attribute_{{ attribute.name }}" value="{{ attribute.value }}" {{ attribute.required }} accept="{{ attribute.file_accept }}" class="{{ attribute.class }}">
                    {% elif attribute.type == 'date' %}
                        <input type="text" id="attribute_{{ attribute.name }}" name="attribute_{{ attribute.name }}" value="{{ attribute.value }}" {{ attribute.required }} class="date {{ attribute.class }}">
                    {% else %}
                        <input type="text" id="attribute_{{ attribute.name }}" name="attribute_{{ attribute.name }}" value="{{ attribute.value }}" {{ attribute.required }} class="{{ attribute.class }}">
                    {% endif %}
                    <div class="error"></div>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% block additional_field %}
    {% endblock %}
{% endblock %}
{% block extrascripts %}
    <script>
        $(document).ready(function () {
            $('.date').datepicker({ dateFormat: 'yy-mm-dd' })
        });
    </script>
{% endblock extrascripts %}