{% extends 'dashboard/admin/harvesters/forms/_base.html' %}
{% load static %}
{% block attributes %}
    <br>
    <h3>Attributes</h3>
    <table id="attributes-table" class="content-table">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>

        {% for attribute in attributes %}
            <tr {% if attribute.name == 'instance_slug' %}style="display: none"{% endif %}>

                <td style="width: 50%">
                    {{ attribute.title }}{% if attribute.required %}*{% endif %}
                    <i class="fa fa-question-circle" aria-hidden="true" title="
                    {% if attribute.required %}[REQUIRED]{% endif %} {{ attribute.description }}" style="cursor: help; color: orange"></i>
                </td>
                <td style="width: 50%">
                    <img class="loading" src="{% static "img/throbber.gif" %}">
                    {% if attribute.type == 'select' %}
                        <select id="attribute_{{ attribute.name }}"
                                name="attribute_{{ attribute.name }}"
                                value="{{ attribute.value }}"
                                class="{% if attribute.read_only %}readonly{% endif %}"
                                {{ attribute.required }}
                                {% for key, value in attribute.data.items %}
                                data-{{ key }}="{{ value }}"
                                {% endfor %}
                        >
                    {% else %}
                        <input id="attribute_{{ attribute.name }}"
                               name="attribute_{{ attribute.name }}"
                               value="{{ attribute.value }}"
                               class="{% if attribute.type == 'date' %}date{% endif %}{{ attribute.class }} {% if attribute.read_only %}readonly{% endif %}"
                               accept="{{ attribute.file_accept }}"
                                {% if attribute.type %}
                               {% if attribute.type == 'date' %}type="text" {% else %}type="{{ attribute.type }}"{% endif %}
                                {% else %}
                               type="text"
                                {% endif %}
                                {{ attribute.required }}
                                {% for key, value in attribute.data.items %}
                               data-{{ key }}="{{ value }}"
                                {% endfor %}
                        >
                    {% endif %}
                    {% if attribute.read_only %}{{ attribute.value|safe }}{% endif %}
                    <div class="error"></div>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% block additional_field %}
    {% endblock %}
{% endblock %}
{% block extrascripts %}
    <script>
        $(document).ready(function () {
            $('.date').datepicker({ dateFormat: 'yy-mm-dd' })
        });
    </script>
{% endblock extrascripts %}