{% extends 'dashboard/_base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'libs/leaflet/1.5.1/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/map.css' %}" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/form.css' %}" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/geography/upload.css' %}" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}
{% block content %}
    <div id="upload-section" class="section row">
        <div id="upload-section-form" class="col">
            <form id="shapefile-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        <label class="label{% if field.field.required %} required{% endif %}" for="{{ field.name }}">{{ field.label }}</label>
                        {% if field.errors %}<span class="error">{{ field.errors }}</span>{% endif %}
                        {{ field }}<br/>
                        {% if field.help_text %}<span class="helptext">{{ field.help_text|safe }}</span>{% endif %}
                    </p>
                {% endfor %}
                <button class="main-button">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'libs/leaflet/1.5.1/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard/admin/geography/upload.js' %}"></script>
    <script>
        const instanceLevels = [];
        {% for level in instance_levels %}
            instanceLevels.push({{ level.id }});
        {% endfor %}
        $('#nav-geography-upload').addClass('active')

        let $selectInput = $('#id_code_column, #id_name_column, #id_parent_code_column');
        $('#id_code_column, #id_name_column, #id_parent_code_column').each(function () {
            $(this).replaceWith(`<select name="${$(this).attr('name')}" id="${$(this).attr('id')}" disabled=""></select>`)
        })
        $selectInput = $('#id_code_column, #id_name_column, #id_parent_code_column');
        $selectInput.prop('disabled', true);

        $('#id_geojson').change(function () {
            var file = this.files[0];
            var fr = new FileReader();
            $selectInput.prop('disabled', true);
            $selectInput.html('');
            fr.onload = function () {
                const json = JSON.parse(fr.result)
                const properties = json['features'][0]['properties'];
                $selectInput.prop('disabled', false);
                $.each(properties, function (key, values) {
                    $selectInput.append(`<option value="${key}">${key}</option`);
                })
            };
            fr.readAsText(file);
        })
    </script>
{% endblock %}