{% extends 'dashboard/_base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'libs/leaflet/1.5.1/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/form.css' %}" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/map.css' %}" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/geography/view.css' %}" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}
{% block content %}
    <div id="right-side">
        <div id="level-selection" class="box-shadow-bottom">
            {% for level in instance_levels %}
                <div id="level-{{ level.name }}" data-level="{{ level.name }}">{{ level.name }}</div>
            {% endfor %}
        </div>
        <button id="toggle-button" class="main-button">To table</button>
        <button id="submit-button" class="main-button" style="margin-top: 10px">Submit</button>
    </div>
    <div id="map-section" class="section box-shadow-bottom">
        <div id="map">

        </div>
    </div>
    <div id="form" class="section box-shadow-bottom">
        <form>
            {% csrf_token %}
            <table>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Alias</th>
                    <th>Dashboard Link</th>
                </tr>
                <tbody class="list">

                </tbody>
            </table>
        </form>
    </div>

{% endblock %}
{% block dashboard_title %}
    {{ dashboard_title|safe }}
    <a href="{% url "geography-upload-view" instance.slug %}">
        <button class=" main-button pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Uploader</button>
    </a>
    <a id="nav-geography-level-management" href="{% url "geography-level-management-view" instance.slug %}">
        <button class=" main-button pull-right">Level Management</button>
    </a>
{% endblock %}
{% block scripts %}
    <script>
        const url = "{{ url }}";
        const urls = {
            'geometry-detail-api': '{% url 'geometry-detail-api' instance.slug 9999 %}'
        }
        $('#nav-geography-view').addClass('active')
    </script>
    <script type="text/javascript" src="{% static 'libs/leaflet/1.5.1/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static "libs/underscore.js/1.9.1/underscore-min.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard/admin/geography/view.js' %}"></script>
    <script type='text/template' id='_popup-template'>
        <form>
            {% csrf_token %}
            <table>
                <tr>
                    <td style="text-align: right"><b>Code</b></td>
                    <td>
                        <span><%= identifier %></span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right"><b>Name</b></td>
                    <td>
                        <span class="value"><%= name %></span>
                        <input type="text" name="name" class="input" value="<%= name %>">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right"><b>Alias</b></td>
                    <td>
                        <span class="value"><%= alias %></span>
                        <input type="text" name="alias" class="input" value="<%= alias %>">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right"><b>Dashboard Link</b></td>
                    <td>
                        <span class="value"><%= dashboard_link %></span>
                        <input type="text" name="dashboard_link" class="input" value="<%= dashboard_link %>">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="value edit-button">
                        <button class="main-button" style="text-align: center">Edit</button>
                    </td>
                    <td class="input cancel-button">
                        <button class="input main-button" style="text-align: center">Cancel</button>
                    </td>
                    <td class="input save-button">
                        <button class="input white-button" style="text-align: center">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </script>
    <script type='text/template' id='_row-table-template'>
        <tr>
            <td>
                <b><%= identifier %></b>
            </td>
            <td>
                <input type="text" name="<%= id %>_name" class="input" value="<%= name %>">
            </td>
            <td>
                <input type="text" name="<%= id %>_alias" class="input" value="<%= alias %>">
            </td>
            <td>
                <input type="text" name="<%= id %>_dashboard_link" class="input" value="<%= dashboard_link %>">
            </td>
        </tr>
    </script>
{% endblock %}