{% extends 'dashboard/_base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'libs/leaflet/1.5.1/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/map.css' %}" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/geography/view.css' %}" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}
{% block content %}
    <div id="map-section" class="section box-shadow-bottom">
        <div id="map">

        </div>
        <div id="level-selection" class="box-shadow-bottom">
            {% for level in instance_levels %}
                <div id="level-{{ level.name }}" data-level="{{ level.name }}">{{ level.name }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const url = "{{ url }}";
        $('#nav-geography-view').addClass('active')
    </script>
    <script type="text/javascript" src="{% static 'libs/leaflet/1.5.1/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard/admin/geography/view.js' %}"></script>
{% endblock %}