{% extends 'dashboard/_base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" media="screen, projection"/>
    <style>
        #content-view .section {
            padding: 20px;
        }

        .log-error {
            color: red;
        }

        .log-done {
            color: green;
        }

        #current-log a {
            color: #007bff;
            font-weight: 700;
        }

        .content-table a:hover {
            opacity: 0.5;
        }
    </style>
{% endblock stylesheet %}
{% block contentview %}
    <div id="content">
        <div class="header box-shadow-bottom ">
            {{ dashboard_title|safe }}
            {% block button_header %}
            {% endblock %}
        </div>
        <div id="content-view">
            <div class="section box-shadow-bottom">
                <div class="line">
                    <b>Harvester Class</b> {{ harvester.harvester_class }}
                </div>
                {% if current_log %}
                    <h3>Last Run : {{ current_log.start_time }}</h3>
                    <table class="content-table" id="current-log" data-id="{{ current_log.id }}">
                        <tr>
                            <td class="{% if current_log.status == "Error" %}log-error{% elif current_log.status == "Done" %}log-done{% endif %}">
                                {{ current_log.status }} {% if current_log.note %}- {{ current_log.note|safe }}{% endif %}
                            </td>
                        </tr>
                    </table>
                    <br>
                {% endif %}
                {% if harvester.harvesterattribute_set.count %}
                    <h3>Attributes</h3>
                    <table class="content-table">
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                        {% if harvester.user %}
                            <tr>
                                <td>User who run</td>
                                <td>
                                    {% if harvester.user.get_full_name %}{{ harvester.user.get_full_name }}{% else %}{{ harvester.user.get_username }}{% endif %}
                                </td>
                            </tr>
                        {% endif %}
                        {% for attribute in harvester.harvesterattribute_set.all %}
                            <tr>
                                <td>{{ attribute.human_name }}</td>
                                <td name="{{ attribute.name }}">
                                    {% if attribute.value %}
                                        {{ attribute.value|safe }}
                                    {% elif attribute.file %}
                                        <a href="{{ attribute.file.url }}">
                                            {{ attribute.file.name }}
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                {% endif %}
                {% if harvester.harvestermappingvalue_set.count %}
                    <h3>Mapping Data</h3>
                    <table id="mapping-table" class="content-table">
                        <tr>
                            <th>From</th>
                            <th>To</th>
                        </tr>
                        {% for mapping_value in harvester.harvestermappingvalue_set.all %}
                            <tr>
                                <td style="width: 50%">{{ mapping_value.remote_value }}</td>
                                <td style="width: 50%">{{ mapping_value.platform_value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                {% endif %}
                {% if harvester.harvesterlog_set.count %}
                    <h3>Log</h3>
                    <table class="content-table">
                        <tr>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Status</th>
                            <th>Note</th>
                        </tr>
                        {% for log in harvester.harvesterlog_set.all %}
                            <tr>
                                <td>{{ log.start_time }}</td>
                                <td>{{ log.end_time }}</td>
                                <td>{{ log.status }}</td>
                                <td>{{ log.note }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}