{% extends 'dashboard/admin/harvesters/detail/base.html' %}
{% load static %}
{% block button_header %}
    {% if edit_url %}
        <a href="{{ edit_url }}" class="pull-right">
            <button id="edit-button" class="main-button" {% if harvester.is_run %}disabled{% endif %}>Edit</button>
        </a>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        {% if current_log.status == 'Running' %}
            const $currentLog = $('#current-log td');
            const period = 1000;
            function getLog() {
                $.ajax({
                    url: '{% url 'harvester-log-api' instance.slug current_log.id %}',
                    dataType: 'json',
                    success: function (json, textStatus, request) {
                        let wait = true;
                        if (json.status === 'Error') {
                            $currentLog.removeClass('log-error').removeClass('log-done').addClass('log-error');
                            wait = false;
                        } else if (json.status === 'Done') {
                            $currentLog.removeClass('log-error').removeClass('log-done').addClass('log-done');
                            wait = false;
                        }
                        $currentLog.html(json.status);
                        if (json.note) {
                            $currentLog.append(' - ');
                            $currentLog.append($.parseHTML(json.note));
                        }
                        if (wait) {
                            setTimeout(function () {
                                getLog();
                            }, period);
                        } else {
                            $('#edit-button').prop('disabled', false);
                        }
                    },
                    error: function () {
                        setTimeout(function () {
                            getLog();
                        }, period);
                    }
                });
            }
            setTimeout(function () {
                getLog();
            }, period);
        {% endif %}
    </script>
{% endblock %}