{% extends 'dashboard/admin/harvesters/detail/base.html' %}
{% load static %}
{% block button_header %}
    {% if harvester.is_run %}
        <button class="empty-button pull-right">Is Harvesting</button>
    {% elif harvester.harvester_class != 'rir_harvester.harveters.using_exposed_api.UsingExposedAPI' %}
        <form method="post" enctype="multipart/form-data" class="pull-right">
            {% csrf_token %}
            <button class="main-button" type="submit" style="margin-left: 1px">Harvest Now</button>
        </form>
    {% endif %}
    {% if edit_url %}
        <a href="{{ edit_url }}" class="pull-right">
            <button class="main-button">Edit</button>
        </a>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        {#  API URL #}
        $('*[name="API URL"]').find('a').each(function () {
            const newUrl = window.location.protocol + '//' + window.location.host + $(this).attr('href');
            $('*[name="API URL"]').html(newUrl);
        });

        {# make the text to copy to clipboard#}
        changeToCopyToClipboard($('*[name="API URL"]'));
        changeToCopyToClipboard($('*[name="token"]'));

        $('*[name="API URL"]').append(
            '<br>' +
            '<br>' +
            '<div class="helptext api-url-hepltext">Example data :' +
            '<br><pre>' + JSON.stringify({
                "geometry_code": "SO",
                "extra_data": {
                    "Data 1": "1",
                    "Data 2": "2",
                },
                "date": "2022-01-01",
                "value": 1
            }, undefined, 2) + '<pre></div>'
        )
    </script>
{% endblock %}