{% extends 'pages/_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    Sign In
{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
{% endblock %}

{% block header %}
    Sign in
{% endblock %}

{% block info %}
    {% include "registration/login-form.html" %}
{% endblock %}

{% block extrascripts %}
    <script>
        if (window.location.hash) {
            window.location = window.location.href.substr(0, window.location.href.indexOf('#'))
        }
    </script>
{% endblock %}