<script type='text/template' id='_context-layer-group'>
    <div id="context-layer-group-<%= group %>" data-group="<%= group_name %>" class="group top-tree">
        <div class="group-name row">
            <div class="col">
                <input class="group-checkbox" type="checkbox">&nbsp;<%= group_name %>
            </div>
            <div>
                <i class="group-toggle fa fa-caret-down" aria-hidden="true"></i>
            </div>
        </div>
        <div class="layer-list-group">

        </div>
    </div>
</script>
<script type='text/template' id='_context-layer'>
    <div id="context-layer-<%= id %>" class="layer-row <%= top_tree %>" data-id="<%= id %>">
        <div class="context-layer-title row">
            <div class="col">
                <input id="context-layer-<%= id %>-input" type="checkbox" data-id="<%= id %>" disabled>
                <%= name %>
            </div>
            <div>
                <i class="legend-toggle fa fa-caret-down" aria-hidden="true"></i>
            </div>
        </div>
        <div class="legend"></div>
    </div>
</script>
<script type='text/template' id='_administrative-popup'>
    <table>
        <tr>
            <td style="text-align: right"><b>Identifier</b></td>
            <td><%= identifier %></td>
        </tr>
        <tr>
            <td style="text-align: right"><b>Name</b></td>
            <td><%= name %></td>
        </tr>
        <tr>
            <td style="text-align: right"><b>Alias</b></td>
            <td><%= alias %></td>
        </tr>
    </table>
</script>

<script type='text/template' id='_indicator-info'>
    <div class="indicator-info-wrapper">
        <div class="indicator-info-title row">
            <div class="col"><%= name %></div>
            <%= indicator %>
        </div>
        <div class="indicator-info-content">
            <div style="margin-top: 10px; margin-bottom: 10px; width: 100%;">
                <div id="<%= side %>-value-donut-chart" class="value-donut-chart" style="height : 200px"></div>
            </div>
            <div>
                <div id="<%= side %>-value-table" class="value-table"></div>
            </div>
            <div style="margin-top: 10px; margin-bottom: 10px; display: none">
                <b style="margin-left: 20px">Overall Scenario in Chart</b>
                <div id="<%= side %>-value-chart" class="value-chart"></div>
            </div>
        </div>
    </div>
</script>
