{% extends 'dashboard/_base.html' %}
{% load static %}
{% load indicator_tags %}

{% block stylesheet %}
    <link href="{% static 'libs/leaflet/1.5.1/leaflet.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'libs/leaflet.plugin/layerswiper/leaflet-lyrSwiper.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/dashboard/context-analysis.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'libs/datatable/1.11.5/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <style>
        {% for scenario in scenarios %}
            .scenario-{{ scenario.level }} {
                background-color: {{ scenario.background_color }} !important;
                color: {{ scenario.text_color}} !important;
            }
        {% endfor %}
    </style>
{% endblock %}
{% block content %}
    <div id="map-wrapper" data-program="context-analysis" class="section table-section left-right">
        <div id="map"></div>
        <div id="right-side" class="side-panel box-shadow-bottom" data-hidden="true">
            <div style="height: 100%;
                    width: 100%;
                    flex-flow: column;
                    display: flex;">
                <div id="right-side-navigation" class="row">
                    <div id="indicator-summary-nav" class="active">Summary</div>
                    <div id="indicator-list-by-geometry-nav" style="display: none"><i class="fa fa-caret-right" aria-hidden="true"></i> Indicators</div>
                    <div id="indicator-geometry-detail-nav" style="display: none"><i class="fa fa-caret-right" aria-hidden="true"></i> Detail</div>
                </div>
                <div style="position: relative; flex: 1;">
                    <div id="indicator-summary" class="inner">
                        <div class="content-wrapper">
                            <div class="indicator-right-pane-info indicator-info"></div>
                            <div class="indicator-left-pane-info indicator-info"></div>
                        </div>
                    </div>
                    <div id="indicator-list-by-geometry" class="inner">
                        <div class="content-wrapper">
                            <div class="indicator-info-wrapper">
                                <div class="indicator-info-title row">
                                    <div class="col"></div>
                                    {% include 'dashboard/context-analysis/_template-scenario-bullet.html' with overall_scenario=0 dashboard_link='' %}
                                </div>
                                <div class="indicator-info-content">
                                    <div class="value-table">
                                        <table>
                                            {% for group_name, group in indicators_in_groups.items %}
                                                <tbody class="group">
                                                <tr class="group-name" data-name="{{ group_name }}">
                                                    <td style="text-align: right; font-weight: 700">{{ group_name }}</td>
                                                    <td class="value-color"></td>
                                                    <td class="value-name" style="font-weight: 700"></td>
                                                </tr>
                                                {% for indicator in group.indicators %}
                                                    <tr id="indicator-by-geometry-{{ indicator.id }}">
                                                        <td class="indicator-geometry-name">{{ indicator.name }}</td>
                                                        <td class="value-color"></td>
                                                        <td class="value-name"></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            {% endfor %}
                                            <tbody id="no-data">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="indicator-geometry-loading" class="loading-info">
                                        Loading
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="indicator-geometry-detail" class="inner">
                        <div class="content-wrapper">
                            <div class="indicator-info-wrapper">
                                <div class="indicator-info-title row">
                                    <div class="col"></div>
                                </div>
                                <div class="indicator-info-content">
                                    <div class="loading-info">
                                        Loading
                                    </div>
                                    <div id="indicator-geometry-detail-graph">

                                    </div>
                                    <div class="value-table"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# OTHER BUTTONS #}
            <div class="side-panel-toggle-button">
                <div id="info-toggle" class="toggle-button" style="display: none">
                    Info
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>
            </div>
            <div class="indicator-right-pane-level-selection box-shadow-bottom level-selection"></div>
            <div class="indicator-left-pane-level-selection level-selection box-shadow-bottom"></div>
            <div class="indicator-right-pane-text indicator-name-swiper box-shadow-bottom"></div>
            <div class="indicator-left-pane-text indicator-name-swiper box-shadow-bottom"></div>
        </div>

        {# time slider #}
        <div id="time-slider-wrapper" class="box-shadow-bottom">
            <div class="row" style="width: 100%">
                <div>
                    <i class="fa fa-play-circle time-control" aria-hidden="true"></i>
                    <i class="fa fa-stop-circle time-control" aria-hidden="true"></i>
                </div>
                <div class="col"><input id="time-slider" type="range" min="1" max="100" value="50" class="slider"></div>
                <div style="width: 71px"><b id="time-slider-indicator"></b></div>
            </div>
        </div>


        {# LEFT SIDE #}
        <div id="left-side" class="side-panel" data-hidden="false">
            <div class="inner">
                <div id="comparing-toggle" class="comparing-toggle">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                </div>
                <div class="side-panel-button">
                    <div class="side-panel-toggle-button">
                        <div id="indicator-toggle-button" class="toggle-button hidden" data-target="indicator" title="Indicators">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </div>
                        <div id="layer-list-toggle-button" class="toggle-button hidden" data-target="layer-list" title="Context Layers">
                            <img src="{% static "libs/leaflet/1.5.1/images/layers-2x.png" %}">
                        </div>
                        <div id="basemap-list-toggle-button" class="toggle-button hidden" data-target="basemap-list" title="Basemaps">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                {# content #}
                <div class="content-wrapper box-shadow-bottom">
                    {# basemap #}
                    <div id="basemap-list" class="content">
                        <div class="inner-content">
                            <div class="side-panel-header">
                                <h3>Basemaps
                                </h3>
                            </div>
                            <div class="side-panel-content">
                                {% for basemap_layer in basemap_layers %}
                                    <div style="padding: 5px 10px">
                                        <div class="basemap-box box-shadow-bottom" data-id="{{ basemap_layer.id }}">
                                            <img src="{{ basemap_layer.icon }}">
                                            <span>{{ basemap_layer.name }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {# indicator #}
                    <div id="indicator" class="content">
                        <div class="inner-content">
                            <div class="scenario-header shrink side-panel-header scenario-{{ overall_scenario.level }} row">
                                <div class="left-side-fullscreen pull-right side-panel-control" title="Fullscreen">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </div>
                                <div class="left-side-exit-fullscreen pull-right side-panel-control" style="display: none" title="Exit Fullscreen">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </div>
                                <div class="col">
                                    Scenario <i class="loading">loading</i>
                                </div>
                                <div>
                                    {% include 'dashboard/context-analysis/_template-scenario-download.html' %}
                                    {% include 'dashboard/context-analysis/_template-scenario-bullet.html' with overall_scenario=overall_scenario.level %}
                                </div>
                            </div>
                            <div class="side-panel-content">
                                <table>
                                    <tr class="table-header">
                                        <th valign="top" class="indicator-name">Indicator</th>
                                        {% for scenario in scenarios %}
                                            <th class="scenario scenario-{{ scenario.level }}" valign="top">
                                                Scenario {{ scenario.level }}
                                                <div>
                                                    {{ scenario.name }}
                                                </div>
                                            </th>
                                        {% endfor %}
                                    </tr>
                                    {% for group_name, group in indicators_in_groups.items %}
                                        <tbody class="group">
                                        <tr class="group-name">
                                            <td class="row">
                                                <div class="col">{{ group_name }} <i class="fa fa-check" aria-hidden="true"></i> </div>
                                                <div><i class="group-toggle fa fa-caret-down hidden" aria-hidden="true"></i></div>
                                                {% include 'dashboard/context-analysis/_template-scenario-download.html' with ids=group.indicator_ids %}
                                                {% include 'dashboard/context-analysis/_template-scenario-bullet.html' with overall_scenario=group.overall_scenario dashboard_link=group.dashboard_link %}
                                            </td>
                                            {# this is for full screen #}
                                            {% for scenario in scenarios %}
                                                <td class="scenario indicator" data-scenario-level="{{ scenario.level }}">
                                                    <b>{{ scenario.name }}</b>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        {# For the space #}
                                        {% for indicator in group.indicators %}
                                            <tr id="indicator-{{ indicator.id }}" data-group="{{ group_name }}"
                                                class="indicator-{{ indicator.id }} group-row indicator-row {% if not indicator.show_in_context_analysis %}no-context-analysis hide{% endif %} disabled"
                                                style="display: none">
                                                <td class="indicator-name">
                                                    <div class="row">
                                                        <div class="indicator-checkbox">
                                                            <input type="checkbox" id="indicator-checkbox-{{ indicator.id }}"
                                                                   data-id="{{ indicator.id }}"
                                                                   data-name="{{ indicator.name }}"
                                                                   data-scenario="{{ indicator.scenario_value }}"
                                                                   data-url="{{ indicator.object.url_data_template }}"
                                                                   data-levels="{{ indicator.object.levels }}"
                                                                   data-unit="{% if indicator.object.unit %}{{ indicator.object.unit }}{% endif %}"
                                                                   disabled>
                                                        </div>
                                                        <div class="col">
                                                            <div class="name">
                                                                {{ indicator.name }}
                                                            </div>
                                                        </div>
                                                        {% include 'dashboard/context-analysis/_template-scenario-download.html' with ids=indicator.id %}
                                                        {% include 'dashboard/context-analysis/_template-scenario-bullet.html' with overall_scenario=indicator.scenario_value dashboard_link=indicator.dashboard_link %}
                                                    </div>
                                                    <div class="legend">
                                                        <table>
                                                            {% for name, value in indicator.object.legends.items %}
                                                                {% if value.rule_str %}
                                                                    <tr class="legend-row active" data-id="{{ indicator.id }}" data-level="{{ value.level }}">
                                                                        <td valign="top">
                                                                            <input type="checkbox" checked>
                                                                        </td>
                                                                        <td valign="top">
                                                                            <div class="polygon" style="background-color: {{ value.color }}"></div>
                                                                        </td>
                                                                        <td>
                                                                            {{ name }}
                                                                            <br> <i class="threshold">{{ value.rule_str }}</i>
                                                                        </td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                </td>
                                                {# this is for full screen #}
                                                {% for scenario in scenarios %}
                                                    {% if indicator.scenario_value == scenario.level %}
                                                        <td class="scenario indicator scenario-{{ scenario.level }}">
                                                            {{ indicator.value }}
                                                        </td>
                                                    {% else %}
                                                        <td class="scenario indicator" data-scenario-level="{{ scenario.level }}">
                                                            {% get_scenario_rule indicator scenario.level as rule %}
                                                            {{ rule }}
                                                        </td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="side-panel-footer">
                                {% if user.is_staff %}
                                    <button id="toggle-table" class="main-button content-button">Show all indicators</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {# layer list #}
                    <div id="layer-list" class="content">
                        <div class="inner-content">
                            <div class="side-panel-header">
                                <h3>Layers
                                </h3>
                            </div>
                            <div class="side-panel-content">
                            </div>
                        </div>
                    </div>
                </div>

                {# this is for indicator #}
                <div class="indicator-right-pane-level-selection box-shadow-bottom level-selection">
                </div>
                <div class="indicator-right-pane-text indicator-name-swiper box-shadow-bottom"></div>

                <div id="dashboard-section">
                    <div class="inner">
                        <i class="fa fa-times main-button" aria-hidden="true"></i>
                        <iframe style="border:none;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/template' id='_scenario-bullet'>
        {% include 'dashboard/context-analysis/_template-scenario-bullet.html' with overall_scenario=0 dashboard_link='' %}
    </script>
    <script type='text/template' id='_scenario-download'>
        {% include 'dashboard/context-analysis/_template-scenario-download.html' with ids='<ids>' %}
    </script>
{% endblock %}
{% block scripts %}
    {% include 'dashboard/context-analysis/_template-context-layer.html' %}

    <script>

        {# init for dashboard #}

        function calculateDashboard() {
            const dashboardWidth = $('#map-wrapper').width() - $('#left-side').width();
            $('#dashboard-section').width(dashboardWidth);
        };

        function showDashboard(link) {
            calculateDashboard();
            $('#dashboard-section').show();
            $('#dashboard-section iframe').attr('src', link);
        }

        const url = "{{ url }}";
        const urls = {
            'indicators-values-by-geometry-level-date-api': '{% url 'indicators-values-by-geometry-level-date-api' instance.slug 'geometry_identifier' 'geometry_level' 'date' %}',
            'indicator-values-by-geometry-and-level-api': '{% url 'indicator-values-by-geometry-and-level-api' instance.slug '0' 'geometry_identifier' 'geometry_level' %}',
        };
        let contextLayers = "{{ context_layers|safe }}".replaceAll('None', null).replaceAll('True', true).replaceAll('False', false).replaceAll('\'', '"');
        contextLayers = JSON.parse(contextLayers);

        {# basemap #}
        let basemapLayers = {};
        let basemapDefault = null;
        {% for basemap_layer in basemap_layers %}
            basemapLayers["{{ basemap_layer.id }}"] = {};
            {% for key, value in basemap_layer.items %}
                {% if key == "parameters" %}
                    basemapLayers["{{ basemap_layer.id }}"]["{{ key }}"] = {};
                    {% for param_key, param_value in value.items %}
                        basemapLayers["{{ basemap_layer.id }}"]["{{ key }}"]["{{ param_key }}"] = `{{ param_value }}`;
                    {% endfor %}
                {% else %}
                    basemapLayers["{{ basemap_layer.id }}"]["{{ key }}"] = `{{ value }}`;
                {% endif %}
            {% endfor %}
            if (!basemapDefault) {
                basemapDefault = "{{ basemap_layer.id }}";
            }
            {% if basemap_layer.enable_by_default %}
                basemapDefault = "{{ basemap_layer.id }}";
            {% endif %}
        {% endfor %}
        const requireConfig = {
            paths: {
                {# project static #}
                'js/request': '{% static 'js/request.js' %}?',
                'js/templates': '{% static 'js/dashboard/context-analysis/templates.js' %}?',
                'js/event': '{% static 'js/dashboard/context-analysis/event.js' %}?',
                'js/views/map': '{% static 'js/dashboard/context-analysis/views/map.js' %}?',
                'js/views/layers/control': '{% static 'js/dashboard/context-analysis/views/layers/control.js' %}?',
                'js/views/layers/context-layers': '{% static 'js/dashboard/context-analysis/views/layers/context-layers.js' %}?',
                'js/views/layers/context-layers-draggable': '{% static 'js/dashboard/context-analysis/views/layers/context-layers-draggable.js' %}?',
                'js/views/layers/indicator-layer': '{% static 'js/dashboard/context-analysis/views/layers/indicator-layer.js' %}?',
                'js/views/layers/indicator-info/base': '{% static 'js/dashboard/context-analysis/views/layers/indicator-info/base.js' %}?',
                'js/views/layers/indicator-info/by-summary': '{% static 'js/dashboard/context-analysis/views/layers/indicator-info/by-summary.js' %}?',
                'js/views/layers/indicator-info/by-geometry': '{% static 'js/dashboard/context-analysis/views/layers/indicator-info/by-geometry.js' %}?',
                'js/views/layers/indicator-info/by-detail': '{% static 'js/dashboard/context-analysis/views/layers/indicator-info/by-detail.js' %}?',
                'js/views/layers/administrative-level': '{% static 'js/dashboard/context-analysis/views/layers/administrative-level.js' %}?',
            }
        }
        const scenarios = {};
        {% for scenario in scenarios %}
            scenarios['{{ scenario.level }}'] = {
                color: '{{ scenario.background_color }}',
                text: '{{ scenario.name }}'
            }
        {% endfor %}
        const indicatorRules = {};
        const indicatorLatestDate = {};
        const indicatorUnit = {};
        const contextAnalysisDataURL = '{% url "context-analysis" instance.slug %}'
        {% for group_name, group in indicators_in_groups.items %}
            {% for indicator in group.indicators %}
                indicatorRules['{{ indicator.id }}'] = {{ indicator.rules|safe }};
                indicatorLatestDate['{{ indicator.id }}'] = '{{ indicator.latest_date }}';
                {% if indicator.object.unit %}
                    indicatorUnit['{{ indicator.id }}'] = '{{ indicator.object.unit }}';
                {% endif %}
            {% endfor %}
        {% endfor %}

        calculateDashboard();
        $('#navigation .toggle-button').click(function () {
            calculateDashboard();
        })
        $('#dashboard-section .fa-times').click(function () {
            $('#dashboard-section').toggle();
        })
        $(window).resize(function () {
            calculateDashboard();
        });

        // TODO:
        //  Also disabled group name if all indicator are disabled
        /**
         $('#indicator .group').each(function () {
            let disabled = false;
            $(this).find('.indicator-row').each(function () {
                if ($(this).hasClass('disabled')) {
                    disabled = true;
                }
            });
            if (disabled) {
                $(this).addClass('disabled')
            }
        })
         **/

    </script>
    <script src="{% static "libs/underscore.js/1.9.1/underscore-min.js" %}"></script>
    <script src="{% static "libs/jquery.js/3.4.1/jquery.min.js" %}"></script>
    <script src="{% static "libs/jquery-ui/1.12.1/jquery-ui.js" %}"></script>
    <script src="{% static "libs/backbone.js/1.4.0/backbone-min.js" %}"></script>
    <script src="{% static "libs/datatable/1.11.5/js/jquery.dataTables.min.js" %}"></script>

    <script src="{% static "libs/highcharts/9.1.2/stock/highstock.js" %}"></script>
    <script src="{% static "libs/highcharts/9.1.2/stock/modules/data.js" %}"></script>
    <script src="{% static "libs/highcharts/9.1.2/stock/modules/exporting.js" %}"></script>
    <script src="{% static "libs/highcharts/9.1.2/stock/modules/exporting.js" %}"></script>
    <script src="{% static "libs/highcharts/9.1.2/stock/indicators/indicators.js" %}"></script>
    <script src="{% static "libs/highcharts/9.1.2/stock/indicators/trendline.js" %}"></script>
    <script type="text/javascript" src="{% static 'libs/leaflet/1.5.1/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/leaflet.plugin/layerswiper/lyrSwiper.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/leaflet.plugin/betterwms.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/esri-leaflet/esri-leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/esri-leaflet/esri-leaflet-vector.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard/context-analysis/esri/leaflet-esri-layer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard/context-analysis/esri/leaflet-esri-style.js' %}"></script>

    <script data-main="{% static 'js/dashboard/context-analysis/config.js' %}" src="{% static 'libs/require.js/2.3.6/require.min.js' %}"></script>
{% endblock %}