{% extends 'dashboard/_base.html' %}
{% load static %}
{% load indicator_tags %}

{% block stylesheet %}
    <link href="{% static 'libs/leaflet/1.5.1/leaflet.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <link href="{% static 'css/dashboard/context-analysis.css' %}" rel="stylesheet" type="text/css" media="screen, projection"/>
    <style>
        {% for scenario in scenarios %}
            .scenario-{{ scenario.level }} {
                background-color: {{ scenario.background_color }} !important;
                color: {{ scenario.text_color}} !important;
            }
        {% endfor %}
    </style>
{% endblock %}
{% block content %}
    <div id="map-wrapper" data-program="context-analysis" class="section table-section scenario-section">
        <div id="map"></div>
        <div id="level-selection" class="box-shadow-bottom">
        </div>
        <div id="left-side" class="side-panel box-shadow-bottom" data-hidden="false">
            <div class="inner">
                <div class="side-panel-button">
                    <div class="side-panel-toggle-button">
                        <div id="basemap-list-toggle-button" class="toggle-button hidden" data-target="basemap-list" title="Basemaps">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                        <div id="indicator-toggle-button" class="toggle-button hidden" data-target="indicator" title="Indicators">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </div>
                        <div id="layer-list-toggle-button" class="toggle-button hidden" data-target="layer-list" title="Context Layers">
                            <img src="{% static "libs/leaflet/1.5.1/images/layers-2x.png" %}">
                        </div>
                    </div>
                </div>

                {# content #}
                <div class="content-wrapper">
                    {# basemap #}
                    <div id="basemap-list" class="content">
                        <div class="inner-content">
                            <div class="side-panel-header">
                                <h3>Basemaps
                                    <div class="pull-right side-panel-control">
                                        <i class="left-side-fullscreen fa fa-arrows-alt" aria-hidden="true" title="Fullscreen"></i>
                                        <i class="left-side-exit-fullscreen fa fa-minus" aria-hidden="true" title="Exit Fullscreen" style="display: none"></i>
                                    </div>
                                </h3>
                            </div>
                            <div class="side-panel-content">
                                {% for basemap_layer in basemap_layers %}
                                    <div style="padding: 5px 10px">
                                        <div class="basemap-box box-shadow-bottom" data-id="{{ basemap_layer.id }}">
                                            <img src="{{ basemap_layer.icon }}">
                                            <span>{{ basemap_layer.name }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {# indicator #}
                    <div id="indicator" class="content">
                        <div class="inner-content">
                            <div class="scenario-header scenario-{{ overall_scenario.level }} side-panel-header">
                                Overall Scenario
                                <div class="pull-right side-panel-control">
                                    <i class="left-side-fullscreen fa fa-arrows-alt" aria-hidden="true" title="Fullscreen"></i>
                                    <i class="left-side-exit-fullscreen fa fa-minus" aria-hidden="true" title="Exit Fullscreen" style="display: none"></i>
                                </div>
                                <br>
                                Scenario {% if overall_scenario.level %}{{ overall_scenario.level }}: {{ overall_scenario.name }}{% else %} <i>unknown</i> {% endif %}
                            </div>
                            <div class="side-panel-content">
                                <table>
                                    <tr class="table-header">
                                        <th valign="top" class="indicator-name">Indicator</th>
                                        {% for scenario in scenarios %}
                                            <th class="scenario scenario-{{ scenario.level }}" valign="top">
                                                Scenario {{ scenario.level }}
                                                <div>
                                                    {{ scenario.name }}
                                                </div>
                                            </th>
                                        {% endfor %}
                                    </tr>
                                    {% for group, indicators in indicators_in_groups.items %}
                                        <tbody class="group">
                                        <tr class="group-name hidden">
                                            <td class="row">
                                                <div class="col">{{ group }}</div>
                                                <div><i class="group-toggle fa fa-caret-down" aria-hidden="true"></i></div>
                                            </td>
                                        </tr>
                                        {% for indicator in indicators %}
                                            <tr id="indicator-{{ indicator.id }}" data-group="{{ group }}" class="group-row indicator-row {% if not indicator.show_in_context_analysis %}no-context-analysis hide{% endif %}">
                                                <td class="indicator-name">
                                                    <div class="row">
                                                        <div class="indicator-checkbox">
                                                            <input type="checkbox" id="indicator-checkbox-{{ indicator.id }}" data-id="{{ indicator.id }}" data-url="{{ indicator.object.url_data_template }}"
                                                                   data-levels="{{ indicator.object.levels }}"
                                                                   {% if not indicator.object.url_data_template %}disabled{% endif %}>
                                                        </div>
                                                        <div class="col">
                                                            <div class="name scenario-{{ indicator.scenario_value }}">{{ indicator.name }}</div>
                                                            <div class="legend">
                                                                <table>
                                                                    {% for name, value in indicator.object.legends.items %}
                                                                        <tr class="legend-row active" data-id="{{ indicator.id }}" data-level="{{ value.level }}">
                                                                            <td>
                                                                                <div class="polygon" style="background-color: {{ value.color }}"></div>
                                                                            </td>
                                                                            <td>{{ name }}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                {% for scenario in scenarios %}
                                                    {% if indicator.scenario_value == scenario.level %}
                                                        <td class="scenario indicator scenario-{{ scenario.level }}">
                                                            {{ indicator.value }}
                                                        </td>
                                                    {% else %}
                                                        <td class="scenario indicator">
                                                            {% get_scenario_rule indicator scenario.level as rule %}
                                                            {{ rule }}
                                                        </td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="side-panel-footer">
                                {% if user.is_staff %}
                                    <button id="toggle-table" class="main-button content-button scenario-{{ overall_scenario.level }}">Show all indicators</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {# layer list #}
                    <div id="layer-list" class="content">
                        <div class="inner-content">
                            <div class="side-panel-header">
                                <h3>Layers
                                    <div class="pull-right side-panel-control">
                                        <i class="left-side-fullscreen fa fa-arrows-alt" aria-hidden="true" title="Fullscreen"></i>
                                        <i class="left-side-exit-fullscreen fa fa-minus" aria-hidden="true" title="Exit Fullscreen" style="display: none"></i>
                                    </div>
                                </h3>
                            </div>
                            <div class="side-panel-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for intervention in interventions %}
        <div data-program="{{ intervention.program_instance.program.slug }}" class="section box-shadow-bottom table-section scenario-section">
            <div class="scenario-header scenario-{{ overall_scenario.level }}">
                <div>{{ intervention.program_instance.program.name }} Intervention</div>
            </div>
            <div class="intervention">
                <iframe src="{{ intervention.intervention_url }}" title="{{ intervention.program_instance.program.name }}" frameBorder="0"></iframe>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block scripts %}
    {% include 'dashboard/context-analysis/_template-context-layer.html' %}

    <script>
        const url = "{{ url }}";
        let contextLayers = "{{ context_layers|safe }}".replaceAll('None', null).replaceAll('True', true).replaceAll('False', false).replaceAll('\'', '"');
        contextLayers = JSON.parse(contextLayers);

        {# basemap #}
        let basemapLayers = {};
        let basemapDefault = null;
        {% for basemap_layer in basemap_layers %}
            basemapLayers["{{ basemap_layer.id }}"] = JSON.parse("{{ basemap_layer|safe }}".replaceAll('None', null).replaceAll('True', true).replaceAll('False', false).replaceAll('\'', '"'));
            if (!basemapDefault) {
                basemapDefault = "{{ basemap_layer.id }}";
            }
            {% if basemap_layer.enable_by_default %}
                basemapDefault = "{{ basemap_layer.id }}";
            {% endif %}
        {% endfor %}
        const requireConfig = {
            paths: {
                'jquery': '{% static 'libs/jquery.js/3.4.1/jquery.min.js' %}?',
                'jqueryUI': '{% static 'libs/jquery-ui/1.12.1/jquery-ui.js' %}?',
                'backbone': '{% static 'libs/backbone.js/1.4.0/backbone-min.js' %}?',
                'underscore': '{% static 'libs/underscore.js/1.9.1/underscore-min.js' %}?',

                {# project static #}
                'js/request': '{% static 'js/request.js' %}?',
                'js/templates': '{% static 'js/dashboard/context-analysis/templates.js' %}?',
                'js/event': '{% static 'js/dashboard/context-analysis/event.js' %}?',
                'js/views/map': '{% static 'js/dashboard/context-analysis/views/map.js' %}?',
                'js/views/layers/control': '{% static 'js/dashboard/context-analysis/views/layers/control.js' %}?',
                'js/views/layers/context-layers': '{% static 'js/dashboard/context-analysis/views/layers/context-layers.js' %}?',
                'js/views/layers/indicator-layer': '{% static 'js/dashboard/context-analysis/views/layers/indicator-layer.js' %}?',
                'js/views/layers/administrative-level': '{% static 'js/dashboard/context-analysis/views/layers/administrative-level.js' %}?',
            },
            shim: {
                jqueryUI: {
                    deps: ["jquery"]
                },
                rangeSlider: {
                    deps: ["jquery"]
                },
                templates: {
                    deps: ['underscore']
                },
            }
        }
    </script>
    <script type="text/javascript" src="{% static 'libs/leaflet/1.5.1/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/esri-leaflet/esri-leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/esri-leaflet/esri-leaflet-vector.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/leaflet.plugin.layerswiper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard/context-analysis/esri/leaflet-esri-layer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard/context-analysis/esri/leaflet-esri-style.js' %}"></script>

    <script data-main="{% static 'js/dashboard/context-analysis/config.js' %}" src="{% static 'libs/require.js/2.3.6/require.min.js' %}"></script>
{% endblock %}