{% extends 'dashboard/admin/form.html' %}
{% load static %}

{% block content %}
    {% csrf_token %}
    {% for field in form %}
        <p data-field-name="{{ field.name }}">
            <label class="label{% if field.field.required %} required{% endif %}" for="{{ field.name }}">{{ field.label }}</label>
            {% if field.errors %}<span class="error">{{ field.errors }}</span>{% endif %}
            {{ field }}<br/>
            {% if field.help_text %}<span class="helptext">{{ field.help_text|safe }}</span>{% endif %}
        </p>
    {% endfor %}
    <br>
    <h3>Scenario Rules</h3>
    <table id="rule-table">
        <tr>
            <th>Scenario</th>
            <th>Name</th>
            <th>Rule<br>
                <span class="helptext">Use formula to create the rule and use x as the value. Example: x<100. It will replace x with the value and will check the condition.</span>
            </th>
        </tr>
        {% for scenario in scenarios %}
            <tr>
                <td>{{ scenario.name }}</td>
                <td><input type="text" name="scenario_{{ scenario.id }}_name" value="{{ scenario.rule_name }}"></td>
                <td><input type="text" name="scenario_{{ scenario.id }}_rule" value="{{ scenario.rule_value }}"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block scripts %}
    <script>
        {% if is_create %}
            $('#nav-indicator-create').addClass('active')
        {% endif %}
    </script>
{% endblock %}