{% extends 'dashboard/admin/form.html' %}
{% load static %}

{% block additional_field %}
    <br>
    <h3>Geometry Mapping</h3>
    <table id="mapping-table" class="content-table">
        <tr>
            <th>From (Remote Name)</th>
            <th>To (Geometry ID)</th>
        </tr>
        {% for reporting_unit in reporting_units %}
            <tr>
                <td style="width: 50%">
                    <input type="text" data-identifier="{{ reporting_unit.identifier }}" name="mapping_remote_{{ reporting_unit.pk }}" value="{{ attribute.value }}">
                </td>
                <td style="width: 50%">
                    {{ reporting_unit.str }}
                    <input type="text" name="mapping_platform_{{ reporting_unit.pk }}" value="{{ reporting_unit.identifier }}" style="display: none">

                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block extrascripts %}
    <script>
        {% for map in mapping %}
            $('*[data-identifier="{{ map.platform_value }}"]').val("{{ map.remote_value }}");
        {% endfor %}
    </script>
{% endblock %}

{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/form.css' %}" type="text/css" media="screen, projection"/>
    <style>
        table {
            width: 100%;
        }
    </style>
{% endblock stylesheet %}

{% block content %}
    {% csrf_token %}
    {% for field in form %}
        <p data-field-name="{{ field.name }}">
            <label class="label{% if field.field.required %} required{% endif %}" for="{{ field.name }}">{{ field.label }}</label>
            {% if field.errors %}<span class="error">{{ field.errors }}</span>{% endif %}
            {{ field }}<br/>
            {% if field.help_text %}<span class="helptext">{{ field.help_text|safe }}</span>{% endif %}
        </p>
    {% endfor %}
    <br>
    <h3>Scenario Rules</h3>
    <table id="rule-table">
        <tr>
            <th valign="top">Scenario</th>
            <th valign="top">Name</th>
            <th valign="top">Rule<br>
                <span class="helptext">Use formula to create the rule and use x as the value. Example: <b>x<100</b>, or maybe <b> x >=50 and x <=100</b> <br>It will replace x with the value and will check the condition.</span>
            </th>
            <th valign="top">Color<br>
                <span class="helptext">Put the hex color with # (e.g. #ffffff) or put the text of color. (e.g. blue).</span>
            </th>
        </tr>
        {% for scenario in scenarios %}
            <tr>
                <td>{{ scenario.name }}</td>
                <td><input type="text" name="scenario_{{ scenario.id }}_name" value="{{ scenario.rule_name }}" spellcheck="false"></td>
                <td><input type="text" name="scenario_{{ scenario.id }}_rule" value="{{ scenario.rule_value }}" spellcheck="false"></td>
                <td>
                    <div class="row color-review-section">
                        <input type="text" name="scenario_{{ scenario.id }}_color" value="{{ scenario.rule_color }}" class="scenario-rule-color col" spellcheck="false">
                        <div class="color-review-wrapper">
                            <input type="text" class="color-review" spellcheck="false" style="background: {{ scenario.rule_color }}" autocomplete="false">
                            <div class="color-picker-indicator-wrapper">
                                <div class="color-picker-indicator">
                                    <div class="arrow" content="box-shadow-bottom"></div>
                                    <img src="{% static "img/color-picker.svg" %}" class="box-shadow-bottom">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'libs/select2/4.1.0-rc.0/select2.min.css' %}" type="text/css" media="screen, projection"/>
    <script type="text/javascript" src="{% static 'libs/select2/4.1.0-rc.0/select2.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/css/bootstrap-colorpicker.min.css" type="text/css" media="screen, projection"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/js/bootstrap-colorpicker.min.js"></script>
    <script>
        {% if is_create %}
            $('#nav-indicator-create').addClass('active')
        {% endif %}
        const $note = $('p[data-field-name="api_note"]');
        $note.hide();
        $('#id_api_exposed').change(function () {
            if (this.checked) {
                $note.show();
            } else {
                $note.hide();
            }
        })
        $('#id_api_exposed').trigger('change');
        $('.helptext a').each(function () {
            const newUrl = window.location.protocol + '//' + window.location.host + $(this).attr('href');
            $(this).attr('href', newUrl);
            $(this).html(newUrl);
        })

        {# for group selector #}
        const placeholder = "Select a group or create by typing new one.";
        $('#id_group').select2({
            placeholder: placeholder,
            tags: true,
            createTag: function (params) {
                return {
                    id: params.term,
                    text: params.term,
                    newOption: true
                }
            },
            templateResult: function (data) {
                var $result = $("<span></span>");
                $result.text(data.text);
                if (data.newOption) {
                    $result.append(" <em>(new)</em>");
                }
                return $result;
            }
        }).on('select2:open', function (e) {
            $('input.select2-search__field').prop('placeholder', placeholder);
        });

        {# for color selector #}
        $('.color-review').colorpicker({
            format: 'hex'
        });
        $('.color-review').change(function () {
            const val = $(this).val();
            $(this).css('background', val);
            $(this).closest('.color-review-section').find('.scenario-rule-color ').val(val);
        })
        $('.scenario-rule-color').change(function () {
            const val = $(this).val();
            $(this).closest('.color-review-section').find('.color-review').val(val);
            $(this).closest('.color-review-section').find('.color-review').trigger('change');
        })
        $('#id_api_note').attr('rows', '3');
        $('.color-review-wrapper').click(function () {
            $(this).closest('.color-review-section').find('.color-review').focus();
        })

    </script>
{% endblock %}