{% extends 'dashboard/admin/indicator/form.html' %}
{% load static %}
{% block extrastyle %}
    <style>
        .name-row {
            display: inline-block;
            padding: 5px;
            border: 1px solid var(--primary-color);
            margin-right: 3px;
        }

        p label input,
        .scenario-name-rule input {
            margin-right: 5px;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block extrascripts %}
    <script>
        $('#content-view p label, .scenario-name-rule').prepend('<input type="checkbox">')
        $('p[data-field-name="name"] input').remove();
        $('p[data-field-name="name"] br').remove();
        $('p[data-field-name="name"]').append('<div id="name-list"></div>');
        {% for indicator in indicators %}
            $('#name-list').append('<span class="name-row">{{ indicator.full_name }}</a>')
        {% endfor %}
        $('p[data-field-name="description"]').remove();
        $('#content-view select, #content-view input').prop('disabled', true);
        $('.scenario-name-rule input').prop('disabled', false);
        $('#content-view p label input').prop('disabled', false);
        $('#content-view p label input').click(function () {
            $(this).closest('p').find('select, input').prop('disabled', !$(this).is(':checked'));
            $(this).prop('disabled', false);
        })
        $('.scenario-name-rule input').click(function () {
            $(this).closest('tr').find('select, input').prop('disabled', !$(this).is(':checked'));
            $(this).prop('disabled', false);
        })
    </script>
{% endblock %}