{% extends 'dashboard/admin/form.html' %}
{% load static %}

{% block additional_field %}
    <br>
    <h3>Geometry Mapping</h3>
    <table id="mapping-table" class="content-table">
        <tr>
            <th>From (Remote Name)</th>
            <th>To (Geometry ID)</th>
        </tr>
        {% for reporting_unit in reporting_units %}
            <tr>
                <td style="width: 50%">
                    <input type="text" data-identifier="{{ reporting_unit.identifier }}" name="mapping_remote_{{ reporting_unit.pk }}" value="{{ attribute.value }}">
                </td>
                <td style="width: 50%">
                    {{ reporting_unit.str }}
                    <input type="text" name="mapping_platform_{{ reporting_unit.pk }}" value="{{ reporting_unit.identifier }}" style="display: none">

                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block extrascripts %}
    <script>
        {% for map in mapping %}
            $('*[data-identifier="{{ map.platform_value }}"]').val("{{ map.remote_value }}");
        {% endfor %}
    </script>
{% endblock %}

{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/form.css' %}" type="text/css" media="screen, projection"/>
    <style>
        table {
            width: 100%;
        }

        .rule-header {
            border-bottom: none !important;
        }

        .rule-header th {
            padding-bottom: 0 !important;
        }

        #reporting-behaviour-help img {
            width: 100%;
        }

        #reporting-behaviour-help-button {
            cursor: pointer;
            font-weight: 700;
            color: var(--primary-color);
        }
    </style>
{% endblock stylesheet %}

{% block content %}
    {% csrf_token %}
    {% for field in form %}
        <p data-field-name="{{ field.name }}">
            <label class="label{% if field.field.required %} required{% endif %}" for="{{ field.name }}">{{ field.label }}</label>
            {% if field.errors %}<span class="error">{{ field.errors }}</span>{% endif %}
            {{ field }}<br/>
            {% if field.help_text %}<span class="helptext">{{ field.help_text|safe }}</span>{% endif %}
        </p>
    {% endfor %}
    <br>
    <h3>Scenario Rules</h3>
    <table id="rule-table">
        <tr style="" class="rule-header">
            <th>Scenario</th>
            <th valign="top">
                Name
            </th>
            <th valign="top">Rule<br>
            </th>
            <th valign="top">Color<br>
            </th>
        </tr>
        <tr style="border-top: none!important;">
            <th valign="top"></th>
            <th valign="top" colspan="2">
                <div class="helptext">
                    The values for each scenario can either be:
                    <ul style="padding-left: 14px;">
                        <li>Text-based items that map to a number (e.g. 'Worsening' maps to value '1'). In this case, you should use the '=' box below to declare one value per scenario text option. When harvesting from a datasource, that
                            datasource can contain either numeric or text values for the indicator.
                        </li>
                        <li>
                            Number based items in a range that map to a scenario (e.g. '1 to 5' maps to 'Worsening'). In this case, use the upper and lower range options individually or together to define the ranges (e.g. 'Worsening' <= 5,
                            'Better' > 5 and <= 10). When harvesting from a datasource, that datasource can contain ONLY numeric values for the indicator.
                        </li>
                    </ul>
                </div>
            </th>
            <th valign="top">
                <span class="helptext">Put the hex color with # (e.g. #ffffff) or put the text of color. (e.g. blue).</span>
            </th>
        </tr>
        {% for scenario in scenarios %}
            <tr>
                <td>{{ scenario.name }}</td>
                <td><input type="text" name="scenario_{{ scenario.id }}_name" value="{{ scenario.rule_name }}" spellcheck="false"></td>
                <td class="row rule-row">
                    <input type="text" class="scenario-input" name="scenario_{{ scenario.id }}_rule" value="{{ scenario.rule_value }}" spellcheck="false" style="display: none">
                    <div class="row rule-section">
                        <div class="symbol">value</div>
                        <div class="symbol"><b>=</b></div>
                        <div>
                            <input type="number" spellcheck="false" class="equal">
                        </div>
                    </div>
                    <div class="symbol" style="padding-left: 10px; padding-right: 10px">or</div>
                    <div class="row rule-section">
                        <div>
                            <input type="number" spellcheck="false" class="min">
                        </div>
                        <div class="symbol" style="border-left: 1px solid #ddd"><b> > </b></div>
                        <div class="symbol">value</div>
                        <div class="symbol"><b> <= </b></div>
                        <div>
                            <input type="number" spellcheck="false" class="max">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row color-review-section">
                        <input type="text" name="scenario_{{ scenario.id }}_color" value="{{ scenario.rule_color }}" class="scenario-rule-color col" spellcheck="false">
                        <div class="color-review-wrapper">
                            <input type="text" class="color-review" spellcheck="false" style="background: {{ scenario.rule_color }}" autocomplete="false">
                            <div class="color-picker-indicator-wrapper">
                                <div class="color-picker-indicator">
                                    <div class="arrow" content="box-shadow-bottom"></div>
                                    <img src="{% static "img/color-picker.svg" %}" class="box-shadow-bottom">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    <!-- Modal -->
    <div class="modal fade" id="reporting-behaviour-help" tabindex="-1" role="dialog" aria-labelledby="reporting-behaviour-help" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{% static "img/Reporting Behaviour Help.png" %}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'libs/select2/4.1.0-rc.0/select2.min.css' %}" type="text/css" media="screen, projection"/>
    <script type="text/javascript" src="{% static 'libs/select2/4.1.0-rc.0/select2.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/css/bootstrap-colorpicker.min.css" type="text/css" media="screen, projection"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.4.0/js/bootstrap-colorpicker.min.js"></script>
    <script>
        {% if is_create %}
            $('#nav-indicator-create').addClass('active')
        {% endif %}
        const $note = $('p[data-field-name="api_note"]');
        $note.hide();
        $('#id_api_exposed').change(function () {
            if (this.checked) {
                $note.show();
            } else {
                $note.hide();
            }
        })
        $('#id_api_exposed').trigger('change');
        $('.helptext a').each(function () {
            const newUrl = window.location.protocol + '//' + window.location.host + $(this).attr('href');
            $(this).attr('href', newUrl);
            $(this).html(newUrl);
        })

        {# for group selector #}
        const placeholder = "Select a group or create by typing new one.";
        $('#id_group').select2({
            placeholder: placeholder,
            tags: true,
            createTag: function (params) {
                return {
                    id: params.term,
                    text: params.term,
                    newOption: true
                }
            },
            templateResult: function (data) {
                var $result = $("<span></span>");
                $result.text(data.text);
                if (data.newOption) {
                    $result.append(" <em>(new)</em>");
                }
                return $result;
            }
        }).on('select2:open', function (e) {
            $('input.select2-search__field').prop('placeholder', placeholder);
        });

        {# for color selector #}
        $('.color-review').colorpicker({
            format: 'hex'
        });
        $('.color-review').change(function () {
            const val = $(this).val();
            $(this).css('background', val);
            $(this).closest('.color-review-section').find('.scenario-rule-color ').val(val);
        })
        $('.scenario-rule-color').change(function () {
            const val = $(this).val();
            $(this).closest('.color-review-section').find('.color-review').val(val);
            $(this).closest('.color-review-section').find('.color-review').trigger('change');
        })
        $('#id_api_note').attr('rows', '3');
        $('.color-review-wrapper').click(function () {
            $(this).closest('.color-review-section').find('.color-review').focus();
        })

        {# check the functions #}

        function onChange() {
            const $row = $(this).closest('.rule-row');
            const $scenarioInput = $row.find('.scenario-input');
            if ($(this).hasClass('equal')) {
                const value = $(this).val();
                $row.find('.min,.max').prop('disabled', value !== '');
                if (value) {
                    $scenarioInput.val('x==' + value)
                } else {
                    $scenarioInput.val('')
                }
            } else {
                const minVal = $row.find('.min').val();
                const maxVal = $row.find('.max').val();
                $row.find('.equal').prop('disabled', !(minVal === '' && maxVal === ''));
                if (minVal === '' && maxVal === '') {
                    $scenarioInput.val('')
                } else {
                    const values = []
                    if (minVal) {
                        values.push('x>' + minVal)
                    }
                    if (maxVal) {
                        values.push('x<=' + maxVal)
                    }
                    $scenarioInput.val(values.join(' and '));
                }
            }
        }

        $('.rule-section input').keyup(onChange);
        $('.rule-section input').change(onChange);

        {# init #}
        $('.scenario-input').each(function () {
            const $row = $(this).closest('.rule-row');
            const value = $(this).val().replaceAll(' ', '');
            if (value.indexOf("==") >= 0) {
                if (value.split('==')[0] === 'x') {
                    $row.find('.equal').val(value.split('==')[1])
                } else {
                    $row.find('.equal').val(value.split('==')[0])
                }
                $row.find('.equal').trigger('change')
            } else {
                const values = value.split('and')
                $.each(values, function (i, currentValue) {
                    if (currentValue.indexOf("<") >= 0) {
                        if (currentValue.split('<')[0] === 'x') {
                            $row.find('.max').val(currentValue.split('<')[1].replace('=', ''))
                        } else {
                            $row.find('.max').val(currentValue.split('<')[0].replace('=', ''))
                        }
                        $row.find('.max').trigger('change')
                    } else if (currentValue.indexOf(">") >= 0) {
                        if (currentValue.split('>')[0] === 'x') {
                            $row.find('.min').val(currentValue.split('>')[1].replace('=', ''))
                        } else {
                            $row.find('.min').val(currentValue.split('>')[0].replace('=', ''))
                        }
                        $row.find('.min').trigger('change')
                    }
                });
            }

        })
        $('p[data-field-name="aggregation_behaviour"]').append('<span class="helptext">Behaviour how the data will be displayed. Click <a id="reporting-behaviour-help-button">here</a> for more detail.</span>');
        $('#reporting-behaviour-help-button').click(function () {
            $('#reporting-behaviour-help').modal('show');
        })
    </script>
{% endblock %}