{% extends 'dashboard/_base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/indicator/management.css' %}" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}
{% block content %}
    {% csrf_token %}
    <div class="section box-shadow-bottom">
        <div style="margin: 20px 50px">
            <div class="global-harvester-button">
                <a href="{% url "meta-ingestor-view" instance.slug %}">
                    <button class=" main-button pull-right">Meta Ingestor</button>
                </a>
            </div>
            <div id="drop-area-section">
                <div id="drop-area">
                    <div>
                        <div class="drop-area-header">
                            <button id="change-order" class="white-button">Change Order</button>
                            <form method="post" class="row">
                                {% csrf_token %}
                                <input id="order-input" type="text" name="orders" style="display: none">
                                <button id="cancel-order" class="white-button">Cancel</button>
                                <button id="submit-order" class="main-button">Save New Order</button>
                            </form>
                        </div>
                        <ul id="group-list" class="block block-group">
                            {% for group, indicator_group in indicators_in_groups.items %}
                                <li class="group-row" data-group="{{ group }}">
                                    <div class="block-content group-name">
                                        <i class="fa fa-sort order-icon" aria-hidden="true"></i>

                                        {# this is for the show/hide #}
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                        <span><b>{{ group }}</b></span>
                                    </div>
                                    <ul class="indicator-list">
                                        {% for indicator_data in indicator_group.indicators %}
                                            {% with indicator=indicator_data.object %}
                                                <li id="data-{{ indicator.id }}" class="block block-value {% if not indicator.show_in_context_analysis %}hidden{% endif %}" data-id="{{ indicator.id }}">
                                                    <div class="block-content row">
                                                        <div class="col indicator-name">
                                                            <i class="fa fa-sort order-icon" aria-hidden="true"></i>

                                                            {# this is for the show/hide #}
                                                            <i class="fa fa-eye" aria-hidden="true" data-url="{% url 'indicator-hide' instance.slug indicator.id %}"></i>
                                                            <i class="fa fa-eye-slash" aria-hidden="true" data-url="{% url 'indicator-show' instance.slug indicator.id %}"></i>
                                                            <span class="indicator-name"> {{ indicator.name }}</span>
                                                        </div>
                                                        <div style="margin-right: 10px">
                                                            {% if not indicator.harvester or indicator.harvester.harvester_class != external_exposed_api %}
                                                                {% if indicator.harvester and  indicator.harvester.is_run %}
                                                                    <div style="border: 1px solid var(--primary-color); padding: 5px 15px">Is Harvesting</div>
                                                                {% elif indicator.harvester %}
                                                                    <form action="{% url "harvester-indicator-detail" instance.slug indicator.id %}" method="post" enctype="multipart/form-data" class="pull-right">
                                                                        {% csrf_token %}
                                                                        <button class="main-button" type="submit">Harvest Now</button>
                                                                    </form>
                                                                {% else %}
                                                                    <a href="{% url "indicator-value-form-manager" instance.slug indicator.id %}">
                                                                        <button class="main-button" type="submit">Data Capture Form</button>
                                                                    </a>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                        <div>
                                                            <div class="navbar-options">
                                                                <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                                                </a>
                                                                <ul class="dropdown-menu box-shadow-bottom">
                                                                    <li>
                                                                        <a href="{% url "indicator-edit" instance.slug indicator.id %}">
                                                                            Edit
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="{% url "indicator-reporting-unit" instance.slug indicator.id %}">
                                                                            Reporting Units
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="{% url "indicator-value-mapview-manager" instance.slug indicator.id %}">
                                                                            Value Manager Map
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="{% url "indicator-value-form-manager" instance.slug indicator.id %}">
                                                                            Value Manager Form
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        {% if indicator.harvester %}
                                                                            <a href="{% url "harvester-indicator-detail" instance.slug indicator.id %}">Harvester</a>
                                                                        {% else %}
                                                                            <a class="create-harvester create" href="{{ indicator.create_harvester_url }}">Create Harvester</a>
                                                                        {% endif %}
                                                                    </li>
                                                                    <li>
                                                                        <a href="{% url "indicator-management-new" instance.slug %}?from={{ indicator.id }}" class="create">
                                                                            Create From This
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="delete-harvester" href="{% url "indicator-detail" instance.slug indicator.id %}" onclick="deleteClick(this); return false;">Delete</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block dashboard_title %}
    {{ dashboard_title|safe }}
    <a href="{% url "indicator-management-new" instance.slug %}">
        <button class=" main-button pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create new</button>
    </a>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/dashboard/admin/indicator/management.js' %}"></script>
    <script>
        $('#nav-indicator-management').addClass('active')

        function deleteClick(element) {
            if (confirm('Are you sure you want to delete this indicator?')) {
                $.ajax({
                    url: $(element).attr('href'),
                    method: 'DELETE',
                    success: function () {
                        window.location.reload()
                    },
                    beforeSend: beforeAjaxSend
                });
                return false;
            }
            return false;
        }
    </script>
{% endblock %}