{% extends 'dashboard/_base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/indicator/management.css' %}" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}
{% block content %}
    <div class="section box-shadow-bottom">
        <div id="drop-area-section">
            <div id="drop-area">
                <div>
                    <i>Drag and drop here to change the indicators order</i><br><br>
                    <div>
                        {% for indicator in indicators %}
                            <div id="data-{{ indicator.id }}" class="block block-value" data-id="{{ indicator.id }}">
                                <div class="block-content row">
                                    <div class="col">
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                        {{ indicator.name }}

                                        <div class="navbar-options">
                                            <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                                <i class="fa fa-cog" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu box-shadow-bottom">
                                                <li>
                                                    <a href="{% url "indicator-edit" instance.slug indicator.id %}">
                                                        Edit
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url "indicator-reporting-unit" instance.slug indicator.id %}">
                                                        Reporting Units
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url "indicator-value-mapview-manager" instance.slug indicator.id %}">
                                                        Value Manager Map
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url "indicator-value-form-manager" instance.slug indicator.id %}">
                                                        Value Manager Form
                                                    </a>
                                                </li>
                                                <li>

                                                    {% if indicator.harvester %}
                                                        <a href="{% url "harvester-detail" instance.slug indicator.id %}">Harvester</a>
                                                    {% else %}
                                                        <a href="{% url "harvester-api-with-geography-and-date" instance.slug indicator.id %}">Create Harvester</a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col">
                                    </div>
                                    <div class="col">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                <input id="order-input" type="text" name="orders" style="display: none">
                <button class="main-button">Save New Order</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block dashboard_title %}
    {{ dashboard_title|safe }}
    <a href="{% url "indicator-management-new" instance.slug %}">
        <button class=" main-button pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create new</button>
    </a>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/dashboard/admin/indicator/management.js' %}"></script>
    <script>
        const orders = [];
        {% for indicator in indicators %}
            orders.push({{ indicator.id }});
        {% endfor %}
        $('#nav-indicator-management').addClass('active')
    </script>
{% endblock %}