{% extends 'dashboard/_base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'libs/leaflet/1.5.1/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/form.css' %}" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}
{% block content %}
    <form id="form" method="post" class="section" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <p data-field-name="{{ field.name }}">
                <label class="label{% if field.field.required %} required{% endif %}" for="{{ field.name }}">{{ field.label }}</label>
                {% if field.errors %}<span class="error">{{ field.errors }}</span>{% endif %}
                {{ field }}<br/>
                {% if field.help_text %}<span class="helptext">{{ field.help_text|safe }}</span>{% endif %}
            </p>
        {% endfor %}
        <button class="main-button">Create</button>
    </form>
{% endblock %}
{% block scripts %}
    <script>
        $('#nav-indicator-new').addClass('active')
    </script>
{% endblock %}