{% extends 'dashboard/_base.html' %}main-button
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/indicator/reporting-unit.css' %}" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}
{% block content %}
    <div class="section box-shadow-bottom">
        {% csrf_token %}
        {% for geometry in geometries %}
            <div class="row">
                <input data-id="{{ geometry.id }}" type="checkbox" name="{{ geometry.id }}" value="true" {% if geometry.id in geometry_reporting_units %}checked{% endif %}> {{ geometry.str }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block dashboard_title %}
    {{ dashboard_title|safe }}
    <button id="uncheck-all" class="main-button pull-right">Uncheck All</button>
    <button id="check-all" class="main-button pull-right">Check All</button>
{% endblock %}
{% block scripts %}
    <script>
        function submit() {
            const ids = [];
            $input.prop('disabled', true);
            $('#content-view input:checked').each(function (index) {
                ids.push($(this).data('id'))
            });
            $.ajax({
                url: "{{ url }}",
                data: {
                    ids: ids.join(',')
                },
                dataType: 'json',
                type: 'POST',
                success: function (data, textStatus, request) {
                    $input.prop('disabled', false);
                },
                error: function (error, textStatus, request) {
                    $input.prop('disabled', false);
                },
                beforeSend: beforeAjaxSend
            });
        }

        const $input = $('#content-view input');
        $('#check-all').click(function () {
            $input.prop('checked', true);
            submit();
        });
        $('#uncheck-all').click(function () {
            $input.prop('checked', false);
            submit();
        });
        $input.change(function () {
            submit();
        })
    </script>
{% endblock %}