{% extends 'dashboard/_base.html' %}main-button
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/indicator/value-management-form.css' %}" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}

{% block contentview %}
    <div id="content">
        <form id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="header box-shadow-bottom ">
                Indicator Value Manager Form : {{ indicator.name }}
                <div class="pull-right">
                    Date: <input type="text" id="datepicker" name="date">
                    <button id="submit" class="main-button">Submit</button>
                </div>
            </div>
            <div id="content-view">
                <div class="section box-shadow-bottom">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file-data" accept="text/csv">
                        <label class="custom-file-label" for="validatedCustomFile">
                            Choose file to refill automatically...
                        </label>
                        <div class="custom-file-loading">
                            <div class="custom-file-loading-text">
                                Choose file to refill automatically...
                            </div>
                        </div>
                    </div>
                    <table>
                        {% for geometry in geometry_reporting_units %}
                            <tr data-id="{{ geometry.id }}" data-code="{{ geometry.identifier }}" data-extra-idx="0">
                                <td class="geometry-name" valign="top">
                                    {{ geometry.str }}
                                </td>
                                <td valign="top">
                                    <div>
                                        New Value :
                                        <input id="input-{{ geometry.id }}" data-id="{{ geometry.id }}" class="value-input" data-code="{{ geometry.identifier }}" type="number" name="{{ geometry.id }}" value="{{ indicator.min_value }}"
                                               min="{{ indicator.min_value }}" max="{{ indicator.max_value }}">
                                        <i id="value-{{ geometry.id }}"></i>
                                    </div>
                                    <div class="extra-value-wrapper">
                                        <span class="extra-value-button">&nbsp;<i class="toggle-indicator fa fa-caret-down" aria-hidden="true"></i> Extra Value (<span class="extra-value-number">0</span>)
                                            <i class="add-new fa fa-plus" aria-hidden="true"></i>
                                        </span>
                                        <div class="extra-value">

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#datepicker").datepicker({
            dateFormat: 'yy-mm-dd',
            "setDate": new Date(),
            "autoclose": true
        });
        var myDate = new Date();
        var date = myDate.getFullYear() + '-' + ('0' + (myDate.getMonth() + 1)).slice(-2) + '-' + ('0' + myDate.getDate()).slice(-2);
        $("#datepicker").val(date);
        {% for value in values %}
            $(`#value-{{ value.geometry.id }}`).html('<div class="pull-right"> Last value : <b>{{ value.value }}</b> at <b>{{ value.date }}</b></div>')
        {% endfor %}

        $('.extra-value-button').click(function () {
            const $row = $(this).closest('tr')
            const $extraValue = $row.find('.extra-value');
            const $i = $(this).find('.toggle-indicator');
            $i.toggleClass('fa-caret-down');
            $i.toggleClass('fa-caret-up');
            if (!$i.hasClass('fa-caret-down')) {
                $extraValue.show();
            } else {
                $extraValue.hide();
            }
        })
        $('#content-view .add-new').click(function () {
            const $row = $(this).closest('tr');
            addNewExtraValue($row, '', {{ indicator.min }});
            return false;
        })

        function addNewExtraValue($row, name, value) {
            $row.data('extra-idx', parseInt($row.data('extra-idx')) + 1);
            const idx = $row.data('extra-idx');
            const id = $row.data('id');

            const $number = $row.find('.extra-value-number');
            const $extraValue = $row.find('.extra-value');
            $extraValue.append(
                `<div class="extra-value-row">
                    <input type="text" name="${id}-${idx}-extra-name" placeholder="Name" value="${name}"> =
                    <input type="text" name="${id}-${idx}-extra-value" placeholder="Value" value="${value}" min="{{ indicator.min_value }}" max="{{ indicator.max_value }}"> <i class="fa fa-times" aria-hidden="true"></i>
                </div>`);
            $extraValue.show();
            $number.html(parseInt($number.html()) + 1);

            {# if the row is deleted#}
            $extraValue.find('.fa-times').last().click(function () {
                $(this).closest('.extra-value-row').remove();
                $number.html(parseInt($number.html()) - 1);
            })
        }

        {# when file input changed #}
        const loadingWidth = $('#content-view .custom-file-loading').width() + 0;
        const $loading = $('#content-view .custom-file-loading');
        $('#file-data').change(function () {
            var file = this.files[0];
            var fr = new FileReader();
            $('.value-input').val('');
            $('.fa-times').click();
            fr.onload = function () {
                const data = csvToJson(fr.result);
                $loading.show();
                $loading.width(0);
                setTimeout(function () {
                    $.each(data, function (index, values) {
                        setTimeout(function () {
                            $('#content-view tr').each(function () {
                                if ($(this).data('code') === values.code) {
                                    const $row = $(this);
                                    const value = values.value;
                                    if (value) {
                                        $row.find('.value-input').val(value);
                                        // check others properties
                                        $.each(values, function (key, value) {
                                            if (!['district', 'code', 'geometry', 'value', 'id'].includes(key.toLowerCase())) {
                                                if (value) {
                                                    addNewExtraValue($row, key, value)
                                                }
                                            }
                                        });
                                    }

                                }
                            });
                            $loading.show();
                            $loading.width((index / data.length) * loadingWidth);
                            if (index === data.length - 1) {
                                $loading.hide();
                            }
                        }, 10)
                    });
                })
            };
            fr.readAsText(file);
        })
    </script>
{% endblock %}