{% extends 'dashboard/_base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="{% static 'css/dashboard/admin/form.css' %}" type="text/css" media="screen, projection"/>
{% endblock stylesheet %}

{% block contentview %}
    <div id="content">
        <form id="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="header box-shadow-bottom ">
                {% block dashboard_title %}{{ dashboard_title|safe }}{% endblock %}
                <div class="pull-right">
                    <button id="submit" class="main-button">Submit</button>
                </div>
            </div>
            <div id="content-view">
                <div class="section box-shadow-bottom">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
