.col-sm-1,
.col-sm-11 {
    padding: 0;
    position: relative;
}


.container-page {
    background-color: white;
    border: none;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    min-height: 80vh;
    text-align: left;
}

.header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
}

.header-button {
    margin-top: -8px;
    text-align: center;
}

.main-button {
    border: none;
    outline: none;
    padding: 5px 15px;
    font-weight: 500;
    background-color: var(--primary-color);
    color: white;
}

.main-button:focus-visible,
.main-button:focus {
    outline: none;
}

.main-button:hover {
    opacity: 0.9;
}

.row {
    margin: 0;
    height: 100%;
}

.sidebar-content {
    display: none;
}

#container {
    flex: 1;
}

#content {
    padding: 36px 20px 10px 30px;
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: var(--navbar-height);
    padding-top: var(--navbar-height);
    position: relative;
    width: 100%;
}

#sidebar {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 37px;
}

#sidebar li {
    cursor: pointer;
    border: 1px solid #eee;
    margin-top: -1px;
    margin-left: -1px;
    padding: 5px 20px;
}

#sidebar li:hover {
    opacity: 0.5;
    background: #eee;
}

#sidebar li.active {
    background: #eee;
    border-left: 3px solid var(--primary-color);
    padding-left: 17px !important;
}