#content input {
    padding: 5px !important;
}

#form {
    padding: 30px;
}

.helptext {
    display: block;
    font-size: 12px;
    color: gray;
}

.main-button {
    margin-top: 20px;
}

p[data-field-name="instance"] {
    display: none;
}