#content h3 {
    background: var(--primary-color);
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    margin: 0;
    width: 100%;
}

#content input {
    padding: 5px !important;
}

#content label {
    font-weight: 600;
}

#content table {
    width: 100%;
}

#content table th, #content table tr {
    border: 1px solid var(--primary-color);
    padding: 5px 10px;
}

#content .header {
    display: none;
}

#map-section {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

#upload-section {
    overflow: auto !important;
    height: 100%;
    width: 100%;
}

#upload-section > div {
    padding: 20px;
}

.helptext {
    display: block;
    font-size: 12px;
    color: gray;
}

#map-section, #map, #uploaded-map {
    height: 100%;
    width: 100%;
}