#content-view {
    position: relative;
}

#right-side {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#level-selection {
    position: unset;
}

#level-selection .disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#form {
    padding: 10px;
    height: 100%;
    width: 100%;
    background: white;
    display: none;
}

#form form {
    height: 100%;
    overflow-y: scroll;
}

#form form b {
    display: block;
    max-width: 200px;
}

#form th {
    background: var(--primary-color);
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

#form table {
    width: 100%;
}

#submit-button {
    display: none;
}

#content .section {
    padding: 0;
}

#right-side .main-button {
    display: block;
}

.header .main-button {
    width: auto;
}

.leaflet-popup-content {
    height: auto !important;
    width: auto !important;
}


.leaflet-popup-content input {
    padding: 5px 10px !important;
    width: 100% !important;
    font-size: 12px !important;
}

.leaflet-popup-content td {
    padding: 5px;
}

.leaflet-popup-content .main-button,
.leaflet-popup-content .white-button {
    min-width: 200px;
    margin-top: 0;
    border: 1px solid var(--primary-color);
}

.leaflet-popup-content .input {
    display: none;
}