#list {
    border-right: 1px solid var(--primary-color);
    width: 220px;
}

#list h3 {
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.block {
    background: white;
}

.block-content {
    border-bottom: 1px solid var(--primary-color);
    border-left: 1px dashed var(--primary-color);
    border-right: 1px dashed var(--primary-color);
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    background: white;
    padding: 10px;
    min-height: 53px;
}

.block-content .main-button {
    width: 150px;
    text-align: center;
}

.block-content .col {
    padding-top: 6px;
    padding-left: 0;
}

.block-content .main-button {
    border: 0;
}

.block.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#drop-area {
    border-top-left-radius: 5px;
    border: 1px dashed var(--primary-color);
    min-height: 100px;
    text-align: center;
    padding: 0;
}

#drop-area.ui-state-hovered {
    background: var(--hovered-color);
}

#drop-area i {
    font-size: 12px;
}

#list-drop-area {
    padding: 20px;
}

#temporary {
    color: white;
}

#drop-area .block {
    width: 100%;
    text-align: left;
    border-top: 1px solid var(--primary-color);
}

#drop-area .block .navbar-options {
    position: relative;
    display: inline-block;
}

#drop-area .block .navbar-options ul {
    width: 163px;
}

.ui-draggable-dragging {
    height: 0 !important;
    z-index: 9999 !important;
    margin-bottom: -1px;
}

.green-button,
.main-button {
    margin-bottom: 1px;
}

.col .green-button,
.col .main-button {
    width: fit-content !important;
}

.delete-harvester {
    color: red !important;
}

.create-harvester {
    color: darkgreen !important;
}

.global-harvester-button {
    height: 33px;
    margin-bottom: -1px;
}

.global-harvester-button button {
    margin-left: 5px;
}

#drop-area.ordering .block {
    cursor: pointer;
}

#drop-area .drop-area-header {
    position: relative;
    padding: 20px 0 0 0;
    height: 65px;
}

#drop-area .drop-area-header form,
#drop-area #cancel-order {
    display: none;
}

#drop-area .drop-area-header button {
    position: absolute;
    left: 23px;
    top: 16px;
}

#drop-area .drop-area-header #cancel-order {
    text-align: center;
    width: 118px;
}

#drop-area .drop-area-header #submit-order {
    left: 141px;
}

#drop-area.ordering form,
#drop-area.ordering #cancel-order {
    display: block;
}

#drop-area.ordering #change-order {
    display: none;
}

#drop-area .order-icon {
    display: inline-block;
    width: 9px;
}

#drop-area .order-icon i {
    display: none;
}

#drop-area.ordering i {
    display: block;
}