#list {
    border-right: 1px solid var(--primary-color);
    width: 220px;
}

#list h3 {
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.group-row {
    border-top: 1px solid var(--primary-color);
}

.group-row.ui-sortable-helper {
    border-top: none;
}

.block {
    background: white;
}

.block.no-value {
    padding: 5px 20px;
}

.block-value .indicator-name .fa-eye-slash,
.group-row .group-name .fa-eye-slash {
    display: none;
}

.block-value.hidden .indicator-name,
.group-row.hidden .group-name {
    opacity: 0.5;
}

.block-value.hidden .indicator-name .fa-eye-slash,
.group-row.hidden .group-name .fa-eye-slash {
    display: inline-block;
}

.block-value.hidden .indicator-name .fa-eye,
.group-row.hidden .group-name .fa-eye {
    display: none;
}

.block-value .block-content {
    padding-left: 25px;
}

.block-value:hover .block-content {
    background-color: var(--almost-white-color);
}

.block-content {
    background: white;
    padding: 5px 10px;
}

.block-content .main-button {
    width: 150px;
    text-align: center;
    padding: 3px;
    font-size: 12px;
    border-radius: 10px;
    border: 0;
}

.block-content .col {
    padding-left: 0;
}

.block.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#drop-area {
    border-top-left-radius: 5px;
    border: 1px dashed var(--primary-color);
    min-height: 100px;
    text-align: center;
    padding: 0;
}

#drop-area i {
    font-size: 12px;
}

#drop-area .block {
    width: 100%;
    text-align: left;
}

#drop-area .block .navbar-options {
    position: relative;
    display: inline-block;
}

#drop-area .block .navbar-options ul {
    width: 163px;
}

.green-button,
.main-button {
    margin-bottom: 1px;
}

.col .green-button,
.col .main-button {
    width: fit-content !important;
}

.delete-harvester {
    color: red !important;
}

.create-harvester,
.create {
    color: darkgreen !important;
}

.global-harvester-button {
    height: 33px;
    margin-bottom: -1px;
}

.global-harvester-button button {
    margin-left: 5px;
}

.ui-sortable-helper {
    background: var(--almost-white-color);
    box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.1);
}

.ui-sortable-placeholder {
    background: var(--almost-white-color);
    visibility: unset !important;
}

#drop-area .drop-area-header {
    padding: 10px;
    text-align: left;
}

#drop-area .drop-area-header button {
    height: 26px;
    width: 110px;
    font-size: 12px;
    padding: 3px;
}

#drop-area #orders-buttons,
#drop-area #multi-edit-buttons {
    display: none;
}

#drop-area #orders-buttons button,
#drop-area #multi-edit-buttons button {
    display: inline-block;
}

#drop-area #orders-buttons .main-button,
#drop-area #multi-edit-buttons .main-button {
    margin-left: -3px;
}


#drop-area.multi-edit .main-button-group,
#drop-area.ordering .main-button-group {
    display: none;
}

#drop-area.ordering #orders-buttons {
    display: block;
}

#drop-area.multi-edit #multi-edit-buttons {
    display: block;
}

#drop-area .order-icon {
    display: none;
}

#drop-area .checkbox-indicator {
    display: none;
    margin-left: 3px;
    position: relative;
    width: 13px;
    height: 13px;
}

#drop-area.multi-edit .checkbox-indicator {
    display: inline-block;
}

#drop-area.multi-edit .checkbox-indicator input {
    cursor: pointer;
}

#drop-area .checkbox-indicator input {
    position: absolute;
    top: 2px;
    left: 0;
}

#drop-area .fa-eye,
#drop-area .fa-eye-slash {
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
}

#drop-area.ordering .block {
    cursor: pointer;
}

#drop-area.ordering .order-icon {
    display: inline-block;
}

#drop-area ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}