#content form {
    height: 100%;
}

#content-view .col {
    padding: 0;
}


#content-view .geometry-name {
    padding-top: 13px;
}

#content-view input[type="number"],
#datepicker {
    border: 1px solid var(--primary-color);
    width: 86px;
}

#content-view input[type="text"] {
    border: 1px solid var(--primary-color);
    width: 120px;
}

#datepicker {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -8px;
    padding: 5px 6px;
}

#content-view input[type="number"]:focus,
#content-view input[type="number"]:focus-visible,
#datepicker:focus,
#datepicker:focus-visible {
    outline: 1px solid var(--primary-color);
}

#content-view .row-data:last-child {
    border: none;
}

#content .header .main-button {
    margin-top: -5px;
}

#content-view table {
    width: 100%;
}

#content-view .geometry-name {
    text-align: right;
    font-weight: 700;
    border-right: 1px solid var(--primary-color);
    color: var(--primary-color);
    width: 30%;
}

#content-view table tr {
    border-bottom: 1px solid var(--primary-color);
}

#content-view table tr:last-child {
    border-bottom: none;
}

#content-view table td {
    padding: 10px 20px;
}

.extra-value-button {
    cursor: pointer;
    display: inline-block;
    color: #999;
}

.extra-value-wrapper {
    border: 1px solid #dddddd;
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
}

.extra-value {
    display: none;
}

.extra-value-row {
    margin: 5px 0;
    margin-left: 15px;
}

.extra-value-row .fa-times {
    cursor: pointer;
    color: red;
}

.custom-file-button {
    cursor: pointer;
    width: auto;
    position: absolute;
    top: -33px;
    right: 0;
}

.custom-file-button .main-button {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.custom-file {
    cursor: pointer;
}

.custom-file .custom-file-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 233px;
    height: 100%;
    background-color: green;
    color: white;
    z-index: 9999;
    overflow: hidden;
    display: none;
}

.custom-file .custom-file-loading-text {
    width: 233px;
    height: 100%;
    padding: 5px;
}

.custom-file-label {
    padding: 0;
    border: 1px solid var(--primary-color);
}

.custom-file-label {
    padding: 5px;
}

#content-view {
    padding-top: 52px;
}

#content .section {
    overflow: visible !important;
    position: relative;
    border-top-right-radius: 0;
}

/* -------------------------------------------------------*/
/* FILE MODAL */
#file-modal th,
#file-modal td {
    border: 1px solid #ddd;
    padding: 5px 10px;
}

#file-modal b {
    color: var(--primary-color);
}


#file-modal input,
#file-modal select {
    width: 100%;
}


#file-modal input,
#file-modal select {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 0;
    padding: 10px;
    vertical-align: middle;
}


#file-modal input:focus-visible,
#file-modal select:focus-visible {
    outline: none;
    border: 1px solid var(--primary-color);
}

#file-modal select:disabled {
    background: #eee;
    border: 1px solid #ccc;
    cursor: not-allowed;
}


.select2-dropdown {
    border: 1px solid var(--primary-color) !important;;
}

.select2-search__field:focus-visible {
    outline: none;
}

.select2-container--open .select2-selection {
    border: 1px solid var(--primary-color) !important;
}

.select2-selection {
    height: 42px !important;
    border: 1px solid #ccc !important;
    padding: 6px !important;
}

.select2-selection__rendered {
    padding: 0;
    font-size: 16px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ccc !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px !important;
}

.select2-selection__rendered {
    color: black;
}

.select2-selection__choice {
    margin-top: 0 !important;
}